In [256]:
!unzip /content/drive/MyDrive/datasets.zip -d my_data

Archive:  /content/drive/MyDrive/datasets.zip
replace my_data/website_dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [257]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [258]:
from IPython.display import display, HTML
display(HTML("<script>Jupyter.notebook.kernel.execute('NotebookApp.iopub_data_rate_limit = 1.0e10')</script>"))

There are clearly some errors in the datasets (probably in during the collecting process). So here I had to ignore some bad lines (for example when each row should have 16 column, there are some rows which have more than 16 and this cause a parsing error)

For the website_dataset, I took a closer look on the data (I opened it using notepad) and I realised that there're two possible seperators ";" and ",". I did this beacuse I had lost a lot of data before and then I realised what the problem was.

In [259]:
fb = pd.read_csv("/content/my_data/facebook_dataset.csv", header=None, error_bad_lines=False)
google = pd.read_csv("/content/my_data/google_dataset.csv", header=None, error_bad_lines=False)
website = pd.read_csv("/content/my_data/website_dataset.csv",sep= ';|,',header=None, error_bad_lines=False)

Streaming output truncated to the last 5000 lines.
Skipping line 29149: Expected 11 fields in line 29149, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29163: Expected 11 fields in line 29163, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29165: Expected 11 fields in line 29165, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29172: Expected 11 fields in line 29172, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29177: Expected 11 fields in line 29177, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29185: Expected 11 fields in line 29185, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29195: Expected 11 fields in line 29195, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29204: Expected 11 fields in line 29204, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29213: Expected 11 fields in line 29213, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29232: Expected 11 fields in line 29232, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29237: Expected 11 fields in line 29237, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29240: Expected 11 fields in line 29240, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29246: Expected 11 fields in line 29246, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29251: Expected 11 fields in line 29251, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29257: Expected 11 fields in line 29257, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29266: Expected 11 fields in line 29266, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29269: Expected 11 fields in line 29269, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29271: Expected 11 fields in line 29271, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29273: Expected 11 fields in line 29273, saw 19. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29280: Expected 11 fields in line 29280, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29288: Expected 11 fields in line 29288, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29292: Expected 11 fields in line 29292, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29299: Expected 11 fields in line 29299, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29303: Expected 11 fields in line 29303, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29313: Expected 11 fields in line 29313, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29318: Expected 11 fields in line 29318, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29330: Expected 11 fields in line 29330, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29350: Expected 11 fields in line 29350, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29355: Expected 11 fields in line 29355, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29366: Expected 11 fields in line 29366, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29384: Expected 11 fields in line 29384, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29389: Expected 11 fields in line 29389, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29396: Expected 11 fields in line 29396, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29406: Expected 11 fields in line 29406, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29410: Expected 11 fields in line 29410, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29414: Expected 11 fields in line 29414, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29417: Expected 11 fields in line 29417, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29420: Expected 11 fields in line 29420, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29429: Expected 11 fields in line 29429, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29435: Expected 11 fields in line 29435, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29454: Expected 11 fields in line 29454, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29459: Expected 11 fields in line 29459, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29470: Expected 11 fields in line 29470, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29475: Expected 11 fields in line 29475, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29482: Expected 11 fields in line 29482, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29495: Expected 11 fields in line 29495, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29501: Expected 11 fields in line 29501, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29511: Expected 11 fields in line 29511, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29513: Expected 11 fields in line 29513, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29514: Expected 11 fields in line 29514, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29536: Expected 11 fields in line 29536, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29539: Expected 11 fields in line 29539, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29540: Expected 11 fields in line 29540, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29541: Expected 11 fields in line 29541, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29546: Expected 11 fields in line 29546, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29550: Expected 11 fields in line 29550, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29553: Expected 11 fields in line 29553, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29564: Expected 11 fields in line 29564, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29568: Expected 11 fields in line 29568, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29571: Expected 11 fields in line 29571, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29579: Expected 11 fields in line 29579, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29595: Expected 11 fields in line 29595, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29596: Expected 11 fields in line 29596, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29602: Expected 11 fields in line 29602, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29612: Expected 11 fields in line 29612, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29617: Expected 11 fields in line 29617, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29619: Expected 11 fields in line 29619, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29621: Expected 11 fields in line 29621, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29623: Expected 11 fields in line 29623, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29627: Expected 11 fields in line 29627, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29628: Expected 11 fields in line 29628, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29631: Expected 11 fields in line 29631, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29643: Expected 11 fields in line 29643, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29644: Expected 11 fields in line 29644, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29660: Expected 11 fields in line 29660, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29662: Expected 11 fields in line 29662, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29664: Expected 11 fields in line 29664, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29675: Expected 11 fields in line 29675, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29701: Expected 11 fields in line 29701, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29705: Expected 11 fields in line 29705, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29718: Expected 11 fields in line 29718, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29719: Expected 11 fields in line 29719, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29744: Expected 11 fields in line 29744, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29745: Expected 11 fields in line 29745, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29754: Expected 11 fields in line 29754, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29755: Expected 11 fields in line 29755, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29761: Expected 11 fields in line 29761, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29787: Expected 11 fields in line 29787, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29794: Expected 11 fields in line 29794, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29795: Expected 11 fields in line 29795, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29807: Expected 11 fields in line 29807, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29809: Expected 11 fields in line 29809, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29840: Expected 11 fields in line 29840, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29866: Expected 11 fields in line 29866, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29868: Expected 11 fields in line 29868, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29879: Expected 11 fields in line 29879, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29884: Expected 11 fields in line 29884, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29902: Expected 11 fields in line 29902, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29909: Expected 11 fields in line 29909, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29969: Expected 11 fields in line 29969, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29978: Expected 11 fields in line 29978, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29982: Expected 11 fields in line 29982, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29986: Expected 11 fields in line 29986, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 29997: Expected 11 fields in line 29997, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30007: Expected 11 fields in line 30007, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30015: Expected 11 fields in line 30015, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30031: Expected 11 fields in line 30031, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30045: Expected 11 fields in line 30045, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30048: Expected 11 fields in line 30048, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30068: Expected 11 fields in line 30068, saw 13. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30079: Expected 11 fields in line 30079, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30084: Expected 11 fields in line 30084, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30096: Expected 11 fields in line 30096, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30109: Expected 11 fields in line 30109, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30111: Expected 11 fields in line 30111, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30125: Expected 11 fields in line 30125, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30130: Expected 11 fields in line 30130, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30139: Expected 11 fields in line 30139, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30157: Expected 11 fields in line 30157, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30162: Expected 11 fields in line 30162, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30167: Expected 11 fields in line 30167, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30185: Expected 11 fields in line 30185, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30199: Expected 11 fields in line 30199, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30207: Expected 11 fields in line 30207, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30209: Expected 11 fields in line 30209, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30227: Expected 11 fields in line 30227, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30228: Expected 11 fields in line 30228, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30238: Expected 11 fields in line 30238, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30248: Expected 11 fields in line 30248, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30267: Expected 11 fields in line 30267, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 30278: Expected 11 fields in line 30278, saw 12. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [260]:
print(fb.shape, google.shape, website.shape)

(71168, 16) (346926, 15) (63547, 11)

Let's take a look on the datasets

In [261]:
fb.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
1,euro-hygiene-34.fr,"134 rue entrepreneurs, za du vign, 30420, cal...",NaN,calvisson,fr,france,NaN,NaN,https://euro-hygiene-34.fr,Euro Hygine,LocalBusiness,NaN,NaN,occ,occitanie,30420
2,lakesidehomeservices.ca,NaN,Appliance Repair & Maintenance|Home Builders &...,NaN,ca,NaN,NaN,NaN,https://lakesidehomeservices.ca,Lakeside Home Services,LocalBusiness,+16138318840,ca,NaN,NaN,NaN
3,rossiterboats.com,NaN,Boats & Yachts Dealers|Boat Tours & Cruises,NaN,NaN,NaN,At Rossiter Boats we build semi-custom power b...,info@rossiterboats.com,http://rossiterboats.com,Rossiter Boats,LocalBusiness,NaN,NaN,NaN,NaN,NaN
4,caa-architecture.com,"601 cordova st w # 270, v6b 1g1, vancouver, bc...",Architects & Architectural Services|Other Engi...,vancouver,ca,canada,NaN,office@caa-arcitecture.com,http://caa-architecture.com,Chandler Associates Architecture Inc.,LocalBusiness,+16046873390,ca,bc,british columbia,v6b 1g1

In [262]:
google.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
1,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) Craft store West Gosford NSW, Aust...",2250,spotlightstores.com
2,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,ca,canada,Heritage Christian Book Store,+19059374553,ca,400 Scott St In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) Book store 400 Scott St In Grant...,l2m 3w2,bookmanager.com
3,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,ca,canada,Pleasant Timber Mart,+19027429181,ca,"7+ years in business Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) Building materials store 7+ years i...,b5a 2j9,timbermart.ca
4,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,us,united states,Skin Specifics Medical Spa West LA,+18184268353,us,7+ years in business 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) Medical spa 7+ years in business ...,90025,linktr.ee

In [263]:
website.head()

,0,1,2,3,4,5,6,7,8,9,10
0,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category
1,converterman.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,clothesencounter.ca,ca,en,NaN,cardigan,canada,prince edward island,13066937766,Clothes Encounter,ca,Shoes & Other Footwear Stores
3,investa.com.au,com.au,en,Investa Wholesale Funds Management Limited,brisbane,australia,queensland,61282269300,Investa Property Group,au,Real Estate Developers
4,timminsgarage.com,com,en,Timmins Garage Inc.,timmins,canada,ontario,18775896640,Timmins Garage,com,Automobile Dealers & Manufacturers

We can see that the columns' names are just numbers, and the actual columns' names should be the ones in the first row of each dataset. Therefore, here, I'm defining the columns' names to be the first row of the dataframe and then I'm removing the first row.

In [264]:
dfs = [fb, google, website]
for df in dfs:
  # Set column names equal to values in row index position 0
  df.columns = df.iloc[0]

In [265]:

# Remove the first row from the DataFrame
fb = fb[1:]
google = google[1:]
website = website[1:]

In [266]:
print(fb.shape, \
google.shape, \
website.shape)

(71167, 16) (346925, 15) (63546, 11)

# **I will analyse and process the datasets separately before merging them**

# **Website Dataset**

In [267]:
website

,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category
1,converterman.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,clothesencounter.ca,ca,en,NaN,cardigan,canada,prince edward island,13066937766,Clothes Encounter,ca,Shoes & Other Footwear Stores
3,investa.com.au,com.au,en,Investa Wholesale Funds Management Limited,brisbane,australia,queensland,61282269300,Investa Property Group,au,Real Estate Developers
4,timminsgarage.com,com,en,Timmins Garage Inc.,timmins,canada,ontario,18775896640,Timmins Garage,com,Automobile Dealers & Manufacturers
5,destinate.ca,ca,en,Destinate Group Ltd.,NaN,Canada,NaN,NaN,Destinate Group,ca,Business Consulting
...,...,...,...,...,...,...,...,...,...,...,...
63542,agistudio.ca,ca,en,NaN,richmond hill,canada,ontario,16479953689,AGI Studio,ca,Wedding Photographers
63543,le279.ca,ca,fr,NaN,saint-jerome,canada,quebec,14505045678,279 Bistro Urbain,ca,Restaurants
63544,absolutedatadestruction.ca,ca,en,Absolute Data Destruction Inc.,miami,united states,florida,14167427411,NAID,ca,Digital & Marketing Agencies
63545,hhms.ca,ca,en,Healthy Home Maid Service Inc.,kingston,canada,ontario,18663874467,Home,ca,Housekeeping Services
63546,studioaeinteriors.com,com,en,Studio AE Interior Design Inc,qualicum beach,canada,british columbia,12503902505,Studio AE Interior Design,com,Decorators & Interior Designers

If we sort the website dataframe by main_city, we can see that for some rows the values of the columns are missed up (especially that we can see phone numbers in the main_city column). Therefore, I'll get these rows to remove them

In [268]:
website.loc[wrong_columns]

,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category
16316,"""YACHTS INC""""""",ajax,canada,ontario,19059995643,Breezeway Yachts,com,Boat Rental & Chartering Services,NaN,NaN,NaN
59620,"""""""""",edmonton,canada,alberta,15879834154,Be Okay Massage,com,Massage Therapists,NaN,NaN,NaN

In [269]:
wrong_columns = website[website['main_city'].str.isnumeric() & website['main_city'].notna()].index
website.loc[wrong_columns, :] = website.loc[wrong_columns, :].apply(lambda x: x.shift(3).fillna(np.nan), axis=1)

<ipython-input-269-ca56657cf338>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  website.loc[wrong_columns, :] = website.loc[wrong_columns, :].apply(lambda x: x.shift(3).fillna(np.nan), axis=1)

The same thing happens when we sort by root_domain

After looking at the data carefully I knew that to get these wrong rows I should get all the rows that contain the character (") in the root_domain

In [270]:
website[website['root_domain'].str.contains('"') & website['root_domain'].notna()]

,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category
2558,"""MARTIN-LAFLAMME""""""",com,Drywall & Insulation Contractors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6063,"""Funeral Home""""""",com,Funeral Services & Cemeteries,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11082,""" Mobile Pet Salon - Edmonton""""""",com,Pet Boarding & Sitting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21574,"""603.585.3001""""""",org,Daycare Centers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27604,"""Avenida Food Hall & Fresh Market""""""",com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38390,"""Decor Inc.""""""",NaN,Canada,NaN,NaN,NaN,ca,NaN,NaN,NaN,NaN
47117,"""(519) 771-8508""""""",ca,Plumbing Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53183,"""Let's Be Crystal Clear""""""",ca,Aluminum Processing & Products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

However, these rows dont contain any useful data so I'll just remove them

In [271]:
website.drop(website[website['root_domain'].str.contains('"') & website['root_domain'].notna()].index, inplace=True)

<ipython-input-271-05c2e0fa9f74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  website.drop(website[website['root_domain'].str.contains('"') & website['root_domain'].notna()].index, inplace=True)

I can see that some rows have a not meaningful value for the phone column. I'll leave it for now as we may find the real phone numbers from the other datasets.

In [272]:
website[website['phone'].str.contains('E') & website['phone'].notna()]

,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category
38,ashcourt.com,com,en,Ashcourt Contracts Ltd,hull,united kingdom,england,4.41E+11,Ashcourt Contracts,com,Other Building Material Retailers
39,selbeyanderson.com,com,en,Selbey Anderson Ltd,london,united kingdom,england,4.42E+11,Selbey Anderson,com,Public Relations Agencies
46,avon.uk.com,uk.com,en,Avon Cosmetics Limited,northampton,united kingdom,england,4.43E+11,Avon Cosmetics,com,Cosmetics Stores
51,impressoitaly.com,com,it,IMPRESSO S.R.L.,montespertoli,italy,tuscany,3.93E+11,Impresso Srl,com,Commercial Printing
55,ckjh.kl.edu.tw,edu.tw,none,NaN,NaN,Taiwan,NaN,8.86E+11,Ji Long Shi Cheng Gong Guo Zhong,tw,Fine Arts Schools
...,...,...,...,...,...,...,...,...,...,...,...
63491,rthealthfund.com.au,com.au,en,Railway & Transport Health Fund LTD,strawberry hills,australia,new south wales,6.11E+11,rt health,au,Health Insurance Agency
63512,nma.gov.au,gov.au,en,Capital Brewing Co.,adelaide,australia,south australia,6.12E+11,National Museum Australia,au,Museums
63515,maltepe.edu.tr,edu.tr,tr,NaN,nin,croatia,zadarska zupanija,9.02E+11,Maltepe nversitesi Aday renci Sayfas,tr,Colleges & Universities
63530,yildiz.edu.tr,edu.tr,tr,NaN,istanbul,turkey,istanbul,9.02E+11,Yildiz Teknik Universitesi,tr,Research Institutes
63534,pansports.co.uk,co.uk,en,NaN,london,united kingdom,england,4.42E+11,Pansports,uk,Sporting Goods Store

In [273]:
website.main_country.value_counts()

canada            34319
united states      6721
australia          2306
Canada             2015
united kingdom     1690
                  ...
Georgia               1
georgia               1
gabon                 1
sint maarten          1
Serbia                1
Name: main_country, Length: 239, dtype: int64

In [274]:
website.main_city.isna().sum()

10191

# **Google**

In [275]:
google

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
1,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) Craft store West Gosford NSW, Aust...",2250,spotlightstores.com
2,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,ca,canada,Heritage Christian Book Store,+19059374553,ca,400 Scott St In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) Book store 400 Scott St In Grant...,l2m 3w2,bookmanager.com
3,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,ca,canada,Pleasant Timber Mart,+19027429181,ca,"7+ years in business Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) Building materials store 7+ years i...,b5a 2j9,timbermart.ca
4,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,us,united states,Skin Specifics Medical Spa West LA,+18184268353,us,7+ years in business 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) Medical spa 7+ years in business ...,90025,linktr.ee
5,NaN,Catering & Delivery,NaN,NaN,NaN,Lakay express,NaN,NaN,NaN,NaN,NaN,NaN,5.0 (1) Mobile caterer Open Closes 9PM,NaN,linktr.ee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346921,"12b Marsh Cl, Winterbourne, Bristol BS36 1HY, ...",Gift Shops,bristol,gb,united kingdom,Dina Nur,447506791469.0,gb,"Bristol, United Kingdom",+44 7506 791469,eng,england,"5.0 (1) Candle store Bristol, United Kingdom...",bs36 1hy,etsy.com
346922,NaN,NaN,NaN,NaN,NaN,a Spritz of Suz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etsy.com
346923,NaN,NaN,NaN,gb,NaN,Heartstrings Candles,447435939484.0,gb,NaN,+44 7435 939484,NaN,NaN,+44 7435 939484 Open 24 hours,NaN,etsy.com
346924,NaN,Plant Nurseries & Stores,NaN,NaN,NaN,Flora by Joyce,NaN,NaN,NaN,NaN,NaN,NaN,No reviews Plant nursery,NaN,etsy.com
346925,"8024 22nd Ave, Kenosha, WI 53143",NaN,kenosha,us,united states,Jazzercise Kenosha Fitness Center,12622378670.0,NaN,"Kenosha, WI In Sunnyside Park",(262) 237-8670,wi,wisconsin,"4.9 (13) Fitness center Kenosha, WI In Sun...",53143,jazzercise.com

For some rows, the country_name is not defined. Therefore, I will try to get the country name from the "text" column. We can see (from the following) that there's no row where the text column contains the word "Vietnam" and the phone_country_code is **NOT** "vn". Note that this is only if the "country_name" column has no value (i.e NaN)

In [276]:

google[
    google['text'].str.contains(' Vietnam ', case=False, na=False) &
    (google['phone_country_code'] != 'vn') &
    google['phone_country_code'].notna()   &
    google['country_name'].isna()
]

Empty DataFrame
Columns: [address, category, city, country_code, country_name, name, phone, phone_country_code, raw_address, raw_phone, region_code, region_name, text, zip_code, domain]
Index: []

In [277]:
# Here I got the opposite, so I got all the rows where the text column contains the word "Vietnam" and the phone_country_code IS "vn"
google[
    google['text'].str.contains(' Vietnam ', case=False, na=False) &
    (google['phone_country_code'] == 'vn') &
    google['phone_country_code'].notna()   &
    google['country_name'].isna()
]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
916,NaN,NaN,NaN,vn,NaN,AMWAY,+84906566837,vn,NaN,+84 90 656 68 37,NaN,NaN,"Ho Chi Minh City, Vietnam +84 90 656 68 37 C...",NaN,amway.com.vn
1832,NaN,NaN,NaN,vn,NaN,Total Vietnam,+842862998400,vn,NaN,+84 28 6299 8400,NaN,NaN,"Ho Chi Minh City, Vietnam In Sailing Tower ...",NaN,total.com.vn
2563,NaN,Race Tracks & Racing Supplies,NaN,vn,NaN,Cng ty TNHH t Isuzu Vit Nam,+84918382331,vn,NaN,+84 91 838 23 31,NaN,NaN,"Ho Chi Minh City, Vietnam +84 91 838 23 31 C...",NaN,isuzu-vietnam.com
3019,NaN,NaN,NaN,vn,NaN,ATM TECHCOMBANK KS OASIS VINPEARL PHU QUOC - S 4,+841800588822,vn,NaN,+84 1800 588822,NaN,NaN,"Kien Giang, Vietnam +84 1800 588822 Open C...",NaN,techcombank.com.vn
3020,NaN,NaN,NaN,vn,NaN,ATM TECHCOMBANK CTY NGH PHONG - TRI,+841800588822,vn,NaN,+84 1800 588822,NaN,NaN,"ng Thp Province, Vietnam +84 1800 588822 ...",NaN,techcombank.com.vn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336053,"An Giang Province, Vietnam",Machinery parts manufacturer,NaN,vn,NaN,motor An Giang,84984601133.0,vn,"An Giang Province, Vietnam",+84 98 460 11 33,NaN,NaN,4.5 (4) Industrial equipment supplier An Gia...,NaN,minhmotor.com
336379,"Hoa Binh, Vietnam +84 218 3825 828",NaN,NaN,vn,NaN,Nh My Esquel,842183825828.0,vn,"Hoa Binh, Vietnam +84 218 3825 828",+84 218 3825 828,NaN,NaN,"Garment exporter Hoa Binh, Vietnam +84 218 3...",NaN,esquel.com
339930,NaN,NaN,NaN,vn,NaN,im giao dch VNPT Vinaphone Ha Ninh,842703954999.0,vn,NaN,+84 270 3954 999,NaN,NaN,"Vinh Long, Vietnam +84 270 3954 999 Closed ...",NaN,vnpt.com.vn
341115,NaN,NaN,NaN,vn,NaN,MSB Chu Thnh,842963651900.0,vn,NaN,+84 296 3651 900,NaN,NaN,"An Giang Province, Vietnam +84 296 3651 900 ...",NaN,msb.com.vn
345453,NaN,NaN,NaN,vn,NaN,Hong Leong Bank Vietnam Limited (HLBVN),842862611195.0,vn,NaN,+84 28 6261 1195,NaN,NaN,"Ho Chi Minh City, Vietnam +84 28 6261 1195 C...",NaN,hlb.com.my

For all these rows we can assign "Veitnam" as the country_name

In [278]:
google.loc[
    (google['text'].str.contains('Vietnam', case=False, na=False)) &
    (google['phone_country_code'] == 'vn') &
    google['phone_country_code'].notna() &
    google['country_name'].isna(),
    'country_name'
] = 'Vietnam'

<ipython-input-278-c0bb32d10895>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[

In [279]:
google[
    google['text'].str.contains(' Vietnam ', case=False, na=False) &
    (google['phone_country_code'] == 'vn') &
    google['phone_country_code'].notna()
]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
916,NaN,NaN,NaN,vn,Vietnam,AMWAY,+84906566837,vn,NaN,+84 90 656 68 37,NaN,NaN,"Ho Chi Minh City, Vietnam +84 90 656 68 37 C...",NaN,amway.com.vn
1702,"24 ng Nhn, Hai B Trng, H Ni 100000, Vie...",Industrial Machinery & Supplies,hanoi,vn,vietnam,Power Corporation Hanoi,+8419001288,vn,"Hanoi, Vietnam",+84 1900 1288,hn,hanoi,"4.2 (120) Corporate office Hanoi, Vietnam Op...",100000,minhmotor.com
1832,NaN,NaN,NaN,vn,Vietnam,Total Vietnam,+842862998400,vn,NaN,+84 28 6299 8400,NaN,NaN,"Ho Chi Minh City, Vietnam In Sailing Tower ...",NaN,total.com.vn
2563,NaN,Race Tracks & Racing Supplies,NaN,vn,Vietnam,Cng ty TNHH t Isuzu Vit Nam,+84918382331,vn,NaN,+84 91 838 23 31,NaN,NaN,"Ho Chi Minh City, Vietnam +84 91 838 23 31 C...",NaN,isuzu-vietnam.com
3019,NaN,NaN,NaN,vn,Vietnam,ATM TECHCOMBANK KS OASIS VINPEARL PHU QUOC - S 4,+841800588822,vn,NaN,+84 1800 588822,NaN,NaN,"Kien Giang, Vietnam +84 1800 588822 Open C...",NaN,techcombank.com.vn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344259,"Ho Chi Minh City, Vietnam +84 28 3875 6612",NaN,ho chi minh city,vn,vietnam,Tng Cty PETEC - Kho Tng hp Ph nh,842838756612.0,vn,"Ho Chi Minh City, Vietnam +84 28 3875 6612",+84 28 3875 6612,sg,ho chi minh,"Corporate office Ho Chi Minh City, Vietnam +...",NaN,petec.com.vn
344372,"Phng 01 - 03, tng 17, Keangnam Landmark 72, ...",Office Spaces,hanoi,vn,vietnam,Fujitsu Vietnam Ltd,842422203113.0,vn,"Hanoi, Vietnam In the Keangnam Hanoi Landmar...",+84 24 2220 3113,hn,hanoi,"4.2 (6) Business center Hanoi, Vietnam In ...",NaN,fujitsu.com
344495,"S 16 Ph Thi Sch, Ng Th Nhm, Hai B Trng...",NaN,hanoi,vn,vietnam,VPBANK HON KIM,842439351513.0,vn,NaN,+84 24 3935 1513,hn,hanoi,"Hanoi, Vietnam +84 24 3935 1513 Closed Ope...",NaN,vpbank.com.vn
345453,NaN,NaN,NaN,vn,Vietnam,Hong Leong Bank Vietnam Limited (HLBVN),842862611195.0,vn,NaN,+84 28 6261 1195,NaN,NaN,"Ho Chi Minh City, Vietnam +84 28 6261 1195 C...",NaN,hlb.com.my
345724,"249 Tn c Thng, An Thi, L Chn, Hi Phng...",Clothing Stores,haiphong,vn,vietnam,Nc ung tinh khit HaiPhong Water,84918739366.0,vn,"Haiphong, Vietnam",+84 91 873 93 66,hp,haiphong,"3.5 (6) Store Haiphong, Vietnam Open 24 hour...",181050,facebook.com

The exact same thing for "South Africa"

In [280]:
google[
    google['text'].str.contains(' South Africa ', case=False, na=False) &
    (google['phone_country_code'] != 'za') &
    google['phone_country_code'].notna()   &
    google['country_name'].isna()
]

Empty DataFrame
Columns: [address, category, city, country_code, country_name, name, phone, phone_country_code, raw_address, raw_phone, region_code, region_name, text, zip_code, domain]
Index: []

In [281]:
google[
    google['text'].str.contains(' South Africa ', case=False, na=False) &
    (google['phone_country_code'] == 'za') &
    google['phone_country_code'].notna()   &
    google['country_name'].isna()
]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
1627,"Gqeberha, South Africa",Hotels,NaN,za,NaN,"Radisson Blu Hotel, Port Elizabeth",+27415095000,za,"Gqeberha, South Africa",+27 41 509 5000,NaN,NaN,"4.3 (2,038) Hotel Gqeberha, South Africa +27...",NaN,radissonhotels.com
4748,"Bitterfontein, South Africa +27 27 643 2011",NaN,NaN,za,NaN,Bitterfontein Police Station,+27276432011,za,"Bitterfontein, South Africa +27 27 643 2011",+27 27 643 2011,NaN,NaN,"State police Bitterfontein, South Africa +27...",NaN,westerncape.gov.za
6138,NaN,NaN,NaN,za,NaN,MTN Store - Langebaan,+27838691564,za,NaN,+27 83 869 1564,NaN,NaN,"Langebaan, South Africa +27 83 869 1564 Clos...",NaN,mtn.co.za
7917,"Mbombela, South Africa","Executive, Legislative & Government Institutions",NaN,za,NaN,Mpumalanga Provincial Government,+27137660000,za,"Mbombela, South Africa",+27 13 766 0000,NaN,NaN,"3.1 (7) Government office Mbombela, South Af...",NaN,mpumalanga.gov.za
8617,"eThekwini, South Africa In Mahatma Gandhi Me...",Clinics - Surgeons & Physicians,NaN,za,NaN,Mahatma Gandhi Memorial Hospital-ER,+27315021719,za,"eThekwini, South Africa In Mahatma Gandhi Me...",+27 31 502 1719,NaN,NaN,"No reviews Hospital eThekwini, South Africa ...",NaN,kznhealth.gov.za
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338611,"Lime Acres, South Africa",Mining & Gas Exploration,NaN,za,NaN,Finsch Mine,27533852111.0,za,"Lime Acres, South Africa",+27 53 385 2111,NaN,NaN,"3.8 (5) Mine Lime Acres, South Africa +27 53...",NaN,petradiamonds.com
343455,"Gqeberha, South Africa",Farms & Agriculture Production,NaN,za,NaN,The House of Fibre,27415033460.0,za,"Gqeberha, South Africa",+27 41 503 3460,NaN,NaN,"4.8 (4) Agricultural service Gqeberha, South...",NaN,house-of-fibre.co.za
343715,"Sun City, South Africa",NaN,NaN,za,NaN,Sun Vacation Club - Unit 451 & 452,27117807855.0,za,"Sun City, South Africa",+27 11 780 7855,NaN,NaN,4.2 (15) Self-catering accommodation Sun Cit...,NaN,suninternational.com
346261,"Jozini, South Africa","Executive, Legislative & Government Institutions",NaN,za,NaN,AREA OFFICE JOZINI DEPARTMENT OF Transport,27355721340.0,za,"Jozini, South Africa",+27 35 572 1340,NaN,NaN,"5.0 (1) City government office Jozini, South...",NaN,transport.gov.za
346313,"Riebeeck Kasteel, South Africa","Executive, Legislative & Government Institutions",NaN,za,NaN,Swartland Municipality,27224879400.0,za,"Riebeeck Kasteel, South Africa",+27 22 487 9400,NaN,NaN,No reviews City government office Riebeeck K...,NaN,swartland.org.za

In [282]:
google.loc[
    (google['text'].str.contains(' South Africa ', case=False, na=False)) &
    (google['phone_country_code'] == 'za') &
    google['phone_country_code'].notna()   &
    google['country_name'].isna(),
    "country_name"] = "South Africa"

<ipython-input-282-5a05dc8e6aa1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[

In [283]:
google[
    google['text'].str.contains(' South Africa ', case=False, na=False) &
    (google['phone_country_code'] == 'za') &
    google['phone_country_code'].notna()
]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
178,"45 Johnson Rd, Pretoriusstad, Nigel, 1491, Sou...",Auto Parts Manufacturers,nigel,za,south africa,Supreme Spring,+27117399200,za,"Nigel, South Africa",+27 11 739 9200,za,nigel,"4.3 (30) Auto parts manufacturer Nigel, Sout...",1491,supremespring.co.za
992,"43 11th Rd, Kew, Johannesburg, 2090, South Africa",NaN,johannesburg,za,south africa,National Flag Direct,+27118870143,za,"Johannesburg, South Africa",+27 11 887 0143,gt,gauteng,"3.9 (31) Gazebo Johannesburg, South Africa C...",2090,nationalflag.co.za
1298,"Section St & Platinum Dr, Brooklyn, Cape Town,...",Tour Operators,cape town,za,south africa,Private Safaris,+27215282200,za,"Cape Town, South Africa In Northgate Park",+27 21 528 2200,wc,western cape,"4.8 (22) Tour operator Cape Town, South Afri...",7405,privatesafaris.com
1603,"Unit 8 Frosterley Business Park, Frosterley Cr...",Software Development Services,umhlanga,za,united states,First Distribution,+27315699260,za,"Umhlanga, South Africa",+27 31 569 9260,nl,kwazulu-natal,"No reviews Corporate office Umhlanga, South ...",7441,firstdistribution.com
1627,"Gqeberha, South Africa",Hotels,NaN,za,South Africa,"Radisson Blu Hotel, Port Elizabeth",+27415095000,za,"Gqeberha, South Africa",+27 41 509 5000,NaN,NaN,"4.3 (2,038) Hotel Gqeberha, South Africa +27...",NaN,radissonhotels.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345462,"Pretoria, South Africa",Casino & Betting,pretoria,za,south africa,Time Square Casino,27860846377.0,za,"Pretoria, South Africa",+27 860 846 377,gt,gauteng,"4.3 (9,995) Casino Pretoria, South Africa Cl...",NaN,suninternational.com
345824,"102 Tagore St, Nirvana, Polokwane, 0699, South...",NaN,polokwane,za,south africa,Kia Motors - Polokwane,27152929300.0,za,NaN,+27 15 292 9300,lp,limpopo,"Polokwane, South Africa +27 15 292 9300 Clos...",0699,kia.co.za
346138,"777 Langwa St, Strydompark, Randburg, 2169, So...",Electronical Components Retailer,randburg,za,south africa,Master Power Technologies,27117927230.0,za,"Randburg, South Africa",+27 11 792 7230,gt,gauteng,"4.4 (66) Electronics store Randburg, South A...",2169,kva.co.za
346261,"Jozini, South Africa","Executive, Legislative & Government Institutions",NaN,za,South Africa,AREA OFFICE JOZINI DEPARTMENT OF Transport,27355721340.0,za,"Jozini, South Africa",+27 35 572 1340,NaN,NaN,"5.0 (1) City government office Jozini, South...",NaN,transport.gov.za
346313,"Riebeeck Kasteel, South Africa","Executive, Legislative & Government Institutions",NaN,za,South Africa,Swartland Municipality,27224879400.0,za,"Riebeeck Kasteel, South Africa",+27 22 487 9400,NaN,NaN,No reviews City government office Riebeeck K...,NaN,swartland.org.za

In [284]:
google

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
1,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) Craft store West Gosford NSW, Aust...",2250,spotlightstores.com
2,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,ca,canada,Heritage Christian Book Store,+19059374553,ca,400 Scott St In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) Book store 400 Scott St In Grant...,l2m 3w2,bookmanager.com
3,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,ca,canada,Pleasant Timber Mart,+19027429181,ca,"7+ years in business Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) Building materials store 7+ years i...,b5a 2j9,timbermart.ca
4,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,us,united states,Skin Specifics Medical Spa West LA,+18184268353,us,7+ years in business 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) Medical spa 7+ years in business ...,90025,linktr.ee
5,NaN,Catering & Delivery,NaN,NaN,NaN,Lakay express,NaN,NaN,NaN,NaN,NaN,NaN,5.0 (1) Mobile caterer Open Closes 9PM,NaN,linktr.ee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346921,"12b Marsh Cl, Winterbourne, Bristol BS36 1HY, ...",Gift Shops,bristol,gb,united kingdom,Dina Nur,447506791469.0,gb,"Bristol, United Kingdom",+44 7506 791469,eng,england,"5.0 (1) Candle store Bristol, United Kingdom...",bs36 1hy,etsy.com
346922,NaN,NaN,NaN,NaN,NaN,a Spritz of Suz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etsy.com
346923,NaN,NaN,NaN,gb,NaN,Heartstrings Candles,447435939484.0,gb,NaN,+44 7435 939484,NaN,NaN,+44 7435 939484 Open 24 hours,NaN,etsy.com
346924,NaN,Plant Nurseries & Stores,NaN,NaN,NaN,Flora by Joyce,NaN,NaN,NaN,NaN,NaN,NaN,No reviews Plant nursery,NaN,etsy.com
346925,"8024 22nd Ave, Kenosha, WI 53143",NaN,kenosha,us,united states,Jazzercise Kenosha Fitness Center,12622378670.0,NaN,"Kenosha, WI In Sunnyside Park",(262) 237-8670,wi,wisconsin,"4.9 (13) Fitness center Kenosha, WI In Sun...",53143,jazzercise.com

In [285]:
us_no_country = google[google['country_name'].isna() &
 (google['raw_address'].str.contains(' United States ', case = False, na = False))]

In [286]:
us_no_country

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
429,"St. George, UT, United States +1 435-688-7900",NaN,NaN,us,NaN,Red Dirt Car Wash,+14356887900,us,"St. George, UT, United States +1 435-688-7900",+1 435-688-7900,NaN,NaN,"Car wash St. George, UT, United States +1 43...",NaN,facebook.com
2885,"South Salt Lake, UT, United States In Granit...",Middle Schools,NaN,us,NaN,Granite Special Education,+13856464522,us,"South Salt Lake, UT, United States In Granit...",+1 385-646-4522,NaN,NaN,"No reviews School South Salt Lake, UT, Unite...",NaN,graniteschools.org
3719,"3+ years in business St Francis, WI, United ...",Hair Salons,NaN,us,NaN,Serendipity Salon And Spa,+14143039369,us,"3+ years in business St Francis, WI, United ...",+1 414-303-9369,NaN,NaN,4.9 (49) Hair salon 3+ years in business S...,NaN,facebook.com
4133,"St Paul, MN, United States In Minnesota cent...","Executive, Legislative & Government Institutions",NaN,NaN,NaN,MNIT,NaN,NaN,"St Paul, MN, United States In Minnesota cent...",NaN,NaN,NaN,"No reviews Government office St Paul, MN, Un...",NaN,mn.gov
5643,"3+ years in business Woodhaven, MI, United S...",Hair Removal Service,NaN,NaN,NaN,MDK Tattoo removal center,NaN,NaN,"3+ years in business Woodhaven, MI, United S...",NaN,NaN,NaN,5.0 (6) Laser hair removal service 3+ years ...,NaN,facebook.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335406,"5+ years in business Chesapeake, VA, United ...",Barber Shops,NaN,us,NaN,Ambition Barbershop,17575231763.0,us,"5+ years in business Chesapeake, VA, United ...",(757) 523-1763,NaN,NaN,4.6 (76) Barber shop 5+ years in business ...,NaN,facebook.com
335758,"Yellowstone National Park, WY, United States ...",Animal Preservation & Wildlife Control,NaN,us,NaN,Grant Visitor Center,13072422650.0,us,"Yellowstone National Park, WY, United States ...",+1 307-242-2650,NaN,NaN,4.7 (330) Visitor center Yellowstone Nationa...,NaN,nps.gov
338583,"Highland Heights, OH, United States In Alpha...",Investment Firms & Venture Capital,NaN,us,NaN,Smartland,18557404206.0,us,"Highland Heights, OH, United States In Alpha...",+1 855-740-4206,NaN,NaN,4.8 (231) Private equity firm Highland Heigh...,NaN,smartland.com
338869,"St Cloud, MN, United States +1 320-200-9394",Spa & Wellness Centers,NaN,us,NaN,Bare Wax,13202009394.0,us,"St Cloud, MN, United States +1 320-200-9394",+1 320-200-9394,NaN,NaN,"Waxing hair removal service St Cloud, MN, Unit...",NaN,facebook.com
346091,"Burrillville, RI, United States In Burrillvi...","Sports & Leisure - Clubs, Fields & Pitches",NaN,us,NaN,June Rockwell Levy Rink,14015688615.0,us,"Burrillville, RI, United States In Burrillvi...",+1 401-568-8615,NaN,NaN,"4.3 (70) Ice skating rink Burrillville, RI, ...",NaN,bsd-ri.net

In [287]:
us_no_country_indices = google[
    google['country_name'].isna() &
    google['raw_address'].str.contains('United States', case=False, na=False)
].index

In [288]:
google.loc[us_no_country_indices, 'country_name'] = 'united states'

google.loc[us_no_country_indices]

<ipython-input-288-3ae59457ab05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[us_no_country_indices, 'country_name'] = 'united states'

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
10,"7+ years in business St Paul, MN, United States",Preschools & Kindergartens,NaN,us,united states,Meadowlands KinderCare,+16514296316,us,"7+ years in business St Paul, MN, United States",(651) 429-6316,NaN,NaN,4.8 (9) Kindergarten 1000 Meadowlands Dr Clo...,NaN,kindercare.com
95,"Poinciana, FL, United States",Fire Departments & Fire Protection,NaN,us,united states,Polk County Fire Rescue Station 37,+18634272458,us,"Poinciana, FL, United States",+1 863-427-2458,NaN,NaN,"5.0 (5) Fire station Poinciana, FL, United S...",NaN,polk-county.net
173,"Monongah, WV, United States","Executive, Legislative & Government Institutions",NaN,us,united states,MONOGAH TOWN HALL,+13045343365,us,"Monongah, WV, United States",+1 304-534-3365,NaN,NaN,"No reviews City or town hall Monongah, WV, U...",NaN,local.wv.gov
429,"St. George, UT, United States +1 435-688-7900",NaN,NaN,us,united states,Red Dirt Car Wash,+14356887900,us,"St. George, UT, United States +1 435-688-7900",+1 435-688-7900,NaN,NaN,"Car wash St. George, UT, United States +1 43...",NaN,facebook.com
1636,"parma heights, OH, United States",Concrete Work,NaN,us,united states,wjl masonry restoration,+14402122659,us,"parma heights, OH, United States",+1 440-212-2659,NaN,NaN,"No reviews Bricklayer parma heights, OH, Uni...",NaN,homeadvisor.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343997,"5+ years in business South St Paul, MN, Unit...",Auto Parts & Repair Shops,NaN,us,united states,CrashsVisionTreatment,16512958413.0,us,"5+ years in business South St Paul, MN, Unit...",+1 651-295-8413,NaN,NaN,5.0 (1) Auto restoration service 5+ years in...,NaN,facebook.com
344129,"Sylvan Lake, MI, United States",NaN,NaN,us,united states,Board & Brush Creative Studio - Sylvan Lake,12482662265.0,us,"Sylvan Lake, MI, United States",+1 248-266-2265,NaN,NaN,"5.0 (13) Do-it-yourself shop Sylvan Lake, MI...",NaN,boardandbrush.com
344371,"St Louis Park, MN, United States",Gymnastics,NaN,us,united states,The Little Gym of Edina,19529240083.0,us,"St Louis Park, MN, United States",(952) 924-0083,NaN,NaN,"St Louis Park, MN (952) 924-0083 Temporarily...",NaN,thelittlegym.com
345149,"St Cloud, FL, United States",Colleges & Universities,NaN,us,united states,Early Childhood Education Center,14078704911.0,us,"St Cloud, FL, United States",+1 407-870-4911,NaN,NaN,"4.2 (5) Education center St Cloud, FL, Unite...",NaN,osceolaschools.net
346091,"Burrillville, RI, United States In Burrillvi...","Sports & Leisure - Clubs, Fields & Pitches",NaN,us,united states,June Rockwell Levy Rink,14015688615.0,us,"Burrillville, RI, United States In Burrillvi...",+1 401-568-8615,NaN,NaN,"4.3 (70) Ice skating rink Burrillville, RI, ...",NaN,bsd-ri.net

In [289]:
us_no_cities_indices = google[
    google['city'].isna() &
    google['raw_address'].str.contains('United States', case=False, na=False)
].index

google.loc[us_no_cities_indices]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
10,"7+ years in business St Paul, MN, United States",Preschools & Kindergartens,NaN,us,united states,Meadowlands KinderCare,+16514296316,us,"7+ years in business St Paul, MN, United States",(651) 429-6316,NaN,NaN,4.8 (9) Kindergarten 1000 Meadowlands Dr Clo...,NaN,kindercare.com
95,"Poinciana, FL, United States",Fire Departments & Fire Protection,NaN,us,united states,Polk County Fire Rescue Station 37,+18634272458,us,"Poinciana, FL, United States",+1 863-427-2458,NaN,NaN,"5.0 (5) Fire station Poinciana, FL, United S...",NaN,polk-county.net
173,"Monongah, WV, United States","Executive, Legislative & Government Institutions",NaN,us,united states,MONOGAH TOWN HALL,+13045343365,us,"Monongah, WV, United States",+1 304-534-3365,NaN,NaN,"No reviews City or town hall Monongah, WV, U...",NaN,local.wv.gov
429,"St. George, UT, United States +1 435-688-7900",NaN,NaN,us,united states,Red Dirt Car Wash,+14356887900,us,"St. George, UT, United States +1 435-688-7900",+1 435-688-7900,NaN,NaN,"Car wash St. George, UT, United States +1 43...",NaN,facebook.com
1636,"parma heights, OH, United States",Concrete Work,NaN,us,united states,wjl masonry restoration,+14402122659,us,"parma heights, OH, United States",+1 440-212-2659,NaN,NaN,"No reviews Bricklayer parma heights, OH, Uni...",NaN,homeadvisor.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343997,"5+ years in business South St Paul, MN, Unit...",Auto Parts & Repair Shops,NaN,us,united states,CrashsVisionTreatment,16512958413.0,us,"5+ years in business South St Paul, MN, Unit...",+1 651-295-8413,NaN,NaN,5.0 (1) Auto restoration service 5+ years in...,NaN,facebook.com
344129,"Sylvan Lake, MI, United States",NaN,NaN,us,united states,Board & Brush Creative Studio - Sylvan Lake,12482662265.0,us,"Sylvan Lake, MI, United States",+1 248-266-2265,NaN,NaN,"5.0 (13) Do-it-yourself shop Sylvan Lake, MI...",NaN,boardandbrush.com
344371,"St Louis Park, MN, United States",Gymnastics,NaN,us,united states,The Little Gym of Edina,19529240083.0,us,"St Louis Park, MN, United States",(952) 924-0083,NaN,NaN,"St Louis Park, MN (952) 924-0083 Temporarily...",NaN,thelittlegym.com
345149,"St Cloud, FL, United States",Colleges & Universities,NaN,us,united states,Early Childhood Education Center,14078704911.0,us,"St Cloud, FL, United States",+1 407-870-4911,NaN,NaN,"4.2 (5) Education center St Cloud, FL, Unite...",NaN,osceolaschools.net
346091,"Burrillville, RI, United States In Burrillvi...","Sports & Leisure - Clubs, Fields & Pitches",NaN,us,united states,June Rockwell Levy Rink,14015688615.0,us,"Burrillville, RI, United States In Burrillvi...",+1 401-568-8615,NaN,NaN,"4.3 (70) Ice skating rink Burrillville, RI, ...",NaN,bsd-ri.net

Now, I will try to get the cities for the rows that have no values for the city column

In [290]:
google.loc[us_no_cities_indices, 'city'] = google.loc[us_no_cities_indices, 'raw_address'].str.split(',').str[0].str.split(' . ').str[-1]

google.loc[us_no_cities_indices]

<ipython-input-290-a48b697586bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[us_no_cities_indices, 'city'] = google.loc[us_no_cities_indices, 'raw_address'].str.split(',').str[0].str.split(' . ').str[-1]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
10,"7+ years in business St Paul, MN, United States",Preschools & Kindergartens,St Paul,us,united states,Meadowlands KinderCare,+16514296316,us,"7+ years in business St Paul, MN, United States",(651) 429-6316,NaN,NaN,4.8 (9) Kindergarten 1000 Meadowlands Dr Clo...,NaN,kindercare.com
95,"Poinciana, FL, United States",Fire Departments & Fire Protection,Poinciana,us,united states,Polk County Fire Rescue Station 37,+18634272458,us,"Poinciana, FL, United States",+1 863-427-2458,NaN,NaN,"5.0 (5) Fire station Poinciana, FL, United S...",NaN,polk-county.net
173,"Monongah, WV, United States","Executive, Legislative & Government Institutions",Monongah,us,united states,MONOGAH TOWN HALL,+13045343365,us,"Monongah, WV, United States",+1 304-534-3365,NaN,NaN,"No reviews City or town hall Monongah, WV, U...",NaN,local.wv.gov
429,"St. George, UT, United States +1 435-688-7900",NaN,St. George,us,united states,Red Dirt Car Wash,+14356887900,us,"St. George, UT, United States +1 435-688-7900",+1 435-688-7900,NaN,NaN,"Car wash St. George, UT, United States +1 43...",NaN,facebook.com
1636,"parma heights, OH, United States",Concrete Work,parma heights,us,united states,wjl masonry restoration,+14402122659,us,"parma heights, OH, United States",+1 440-212-2659,NaN,NaN,"No reviews Bricklayer parma heights, OH, Uni...",NaN,homeadvisor.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343997,"5+ years in business South St Paul, MN, Unit...",Auto Parts & Repair Shops,South St Paul,us,united states,CrashsVisionTreatment,16512958413.0,us,"5+ years in business South St Paul, MN, Unit...",+1 651-295-8413,NaN,NaN,5.0 (1) Auto restoration service 5+ years in...,NaN,facebook.com
344129,"Sylvan Lake, MI, United States",NaN,Sylvan Lake,us,united states,Board & Brush Creative Studio - Sylvan Lake,12482662265.0,us,"Sylvan Lake, MI, United States",+1 248-266-2265,NaN,NaN,"5.0 (13) Do-it-yourself shop Sylvan Lake, MI...",NaN,boardandbrush.com
344371,"St Louis Park, MN, United States",Gymnastics,St Louis Park,us,united states,The Little Gym of Edina,19529240083.0,us,"St Louis Park, MN, United States",(952) 924-0083,NaN,NaN,"St Louis Park, MN (952) 924-0083 Temporarily...",NaN,thelittlegym.com
345149,"St Cloud, FL, United States",Colleges & Universities,St Cloud,us,united states,Early Childhood Education Center,14078704911.0,us,"St Cloud, FL, United States",+1 407-870-4911,NaN,NaN,"4.2 (5) Education center St Cloud, FL, Unite...",NaN,osceolaschools.net
346091,"Burrillville, RI, United States In Burrillvi...","Sports & Leisure - Clubs, Fields & Pitches",Burrillville,us,united states,June Rockwell Levy Rink,14015688615.0,us,"Burrillville, RI, United States In Burrillvi...",+1 401-568-8615,NaN,NaN,"4.3 (70) Ice skating rink Burrillville, RI, ...",NaN,bsd-ri.net

Let's try to do the same thing for other countries

In [291]:
google['country_name'].value_counts()

united states         129467
canada                 83583
united kingdom         40663
australia              12236
france                  8928
                       ...
dominica                   1
comoros                    1
saint lucia                1
land                      1
st kitts and nevis         1
Name: country_name, Length: 189, dtype: int64

In [292]:
google[
    google['country_name'].isna() &
    google['raw_address'].str.contains(' Canada ', case=False, na=False)
]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
85,"Montreal, Quebec, Canada In Complexe Le 5600...",Social Services & NGOs,NaN,ca,NaN,Horizon Roc Climbing Centre,+15148995000,ca,"Montreal, Quebec, Canada In Complexe Le 5600...",+1 514-899-5000,NaN,NaN,"4.5 (433) Adventure sports center Montreal, ...",NaN,horizonroc.com
93,"Arkona, ON, Canada +1 519-828-3071",Animal Preservation & Wildlife Control,NaN,ca,NaN,Rock Glen Conservation Area,+15198283071,ca,"Arkona, ON, Canada +1 519-828-3071",+1 519-828-3071,NaN,NaN,"Nature preserve Arkona, ON, Canada +1 519-82...",NaN,abca.ca
305,"Scarborough, ON, Canada In the Splendid Chin...",Restaurants,NaN,ca,NaN,Graceful Vegetarian Restaurant,+19054798381,ca,"Scarborough, ON, Canada In the Splendid Chin...",+1 905-479-8381,NaN,NaN,4.4 (248) Vegetarian restaurant Scarbor...,NaN,facebook.com
332,"Tulita, NT, Canada +1 867-588-4331",Vitamins & Supplements,NaN,ca,NaN,Northern Store,+18675884331,ca,"Tulita, NT, Canada +1 867-588-4331",+1 867-588-4331,NaN,NaN,"Supermarket Tulita, NT, Canada +1 867-588-43...",NaN,facebook.com
2552,"Vancouver, BC, Canada In Duncan Building",Spa & Wellness Centers,NaN,ca,NaN,The Nest Bodywork + Men's Grooming,+16729992288,ca,"Vancouver, BC, Canada In Duncan Building",+1 672-999-2288,NaN,NaN,"5,0 (33) Massage spa Duncan Building Vancouv...",NaN,vagaro.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342942,"Mono, ON, Canada In Mono Plaza",Decorators & Interior Designers,NaN,ca,NaN,Orangeville Furniture,15199389964.0,ca,"Mono, ON, Canada In Mono Plaza",+1 519-938-9964,NaN,NaN,"4.2 (34) Interior designer Mono, ON, Canada ...",NaN,orangevillefurniture.ca
343068,"Levis, Quebec, Canada In Les Promenades de L...",Restaurants,NaN,ca,NaN,Coco Frutti Levis,14189031054.0,ca,"Levis, Quebec, Canada In Les Promenades de L...",+1 418-903-1054,NaN,NaN,44 Route du Prsident-Kennedy In Les Promena...,NaN,cocofrutti.com
343343,"Surrey, BC, Canada In Elgin Centre","Alarms, Surveillance & Security Systems",NaN,us,NaN,Sonitrol Western Canada,18667664876.0,us,"Surrey, BC, Canada In Elgin Centre",(866) 766-4876,NaN,NaN,"3.0 (3) Security system supplier Surrey, BC,...",NaN,sonitrolwesterncanada.com
345190,"Montreal, Quebec, Canada In Les Galeries du ...",Colleges & Universities,NaN,ca,NaN,Steinberg Centre for Simulation and Interactiv...,15143988978.0,ca,"Montreal, Quebec, Canada In Les Galeries du ...",+1 514-398-8978,NaN,NaN,"4.4 (7) University department Montreal, Queb...",NaN,mcgill.ca
346604,"LeMoyne, Quebec, Canada In Saint-Georges Com...",Sports Medicine & Physical Therapy,NaN,ca,NaN,Physio Vlo,15148193159.0,ca,"LeMoyne, Quebec, Canada In Saint-Georges Com...",+1 514-819-3159,NaN,NaN,"5.0 (5) Physical therapy clinic LeMoyne, Que...",NaN,physiovelo.com

In [293]:
canada_no_country_indices = google[
    google['country_name'].isna() &
    google['raw_address'].str.contains(' Canada ', case=False, na=False)
].index

google.loc[canada_no_country_indices, 'country_name'] = 'canada'

<ipython-input-293-7220154455b8>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[canada_no_country_indices, 'country_name'] = 'canada'

In [294]:
google.loc[canada_no_country_indices]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
85,"Montreal, Quebec, Canada In Complexe Le 5600...",Social Services & NGOs,NaN,ca,canada,Horizon Roc Climbing Centre,+15148995000,ca,"Montreal, Quebec, Canada In Complexe Le 5600...",+1 514-899-5000,NaN,NaN,"4.5 (433) Adventure sports center Montreal, ...",NaN,horizonroc.com
93,"Arkona, ON, Canada +1 519-828-3071",Animal Preservation & Wildlife Control,NaN,ca,canada,Rock Glen Conservation Area,+15198283071,ca,"Arkona, ON, Canada +1 519-828-3071",+1 519-828-3071,NaN,NaN,"Nature preserve Arkona, ON, Canada +1 519-82...",NaN,abca.ca
305,"Scarborough, ON, Canada In the Splendid Chin...",Restaurants,NaN,ca,canada,Graceful Vegetarian Restaurant,+19054798381,ca,"Scarborough, ON, Canada In the Splendid Chin...",+1 905-479-8381,NaN,NaN,4.4 (248) Vegetarian restaurant Scarbor...,NaN,facebook.com
332,"Tulita, NT, Canada +1 867-588-4331",Vitamins & Supplements,NaN,ca,canada,Northern Store,+18675884331,ca,"Tulita, NT, Canada +1 867-588-4331",+1 867-588-4331,NaN,NaN,"Supermarket Tulita, NT, Canada +1 867-588-43...",NaN,facebook.com
2552,"Vancouver, BC, Canada In Duncan Building",Spa & Wellness Centers,NaN,ca,canada,The Nest Bodywork + Men's Grooming,+16729992288,ca,"Vancouver, BC, Canada In Duncan Building",+1 672-999-2288,NaN,NaN,"5,0 (33) Massage spa Duncan Building Vancouv...",NaN,vagaro.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342942,"Mono, ON, Canada In Mono Plaza",Decorators & Interior Designers,NaN,ca,canada,Orangeville Furniture,15199389964.0,ca,"Mono, ON, Canada In Mono Plaza",+1 519-938-9964,NaN,NaN,"4.2 (34) Interior designer Mono, ON, Canada ...",NaN,orangevillefurniture.ca
343068,"Levis, Quebec, Canada In Les Promenades de L...",Restaurants,NaN,ca,canada,Coco Frutti Levis,14189031054.0,ca,"Levis, Quebec, Canada In Les Promenades de L...",+1 418-903-1054,NaN,NaN,44 Route du Prsident-Kennedy In Les Promena...,NaN,cocofrutti.com
343343,"Surrey, BC, Canada In Elgin Centre","Alarms, Surveillance & Security Systems",NaN,us,canada,Sonitrol Western Canada,18667664876.0,us,"Surrey, BC, Canada In Elgin Centre",(866) 766-4876,NaN,NaN,"3.0 (3) Security system supplier Surrey, BC,...",NaN,sonitrolwesterncanada.com
345190,"Montreal, Quebec, Canada In Les Galeries du ...",Colleges & Universities,NaN,ca,canada,Steinberg Centre for Simulation and Interactiv...,15143988978.0,ca,"Montreal, Quebec, Canada In Les Galeries du ...",+1 514-398-8978,NaN,NaN,"4.4 (7) University department Montreal, Queb...",NaN,mcgill.ca
346604,"LeMoyne, Quebec, Canada In Saint-Georges Com...",Sports Medicine & Physical Therapy,NaN,ca,canada,Physio Vlo,15148193159.0,ca,"LeMoyne, Quebec, Canada In Saint-Georges Com...",+1 514-819-3159,NaN,NaN,"5.0 (5) Physical therapy clinic LeMoyne, Que...",NaN,physiovelo.com

In [295]:
canada_no_cities_indices = google[
    google['city'].isna() &
    google['raw_address'].str.contains(' Canada ', case=False, na=False)
].index

google.loc[canada_no_cities_indices]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
85,"Montreal, Quebec, Canada In Complexe Le 5600...",Social Services & NGOs,NaN,ca,canada,Horizon Roc Climbing Centre,+15148995000,ca,"Montreal, Quebec, Canada In Complexe Le 5600...",+1 514-899-5000,NaN,NaN,"4.5 (433) Adventure sports center Montreal, ...",NaN,horizonroc.com
93,"Arkona, ON, Canada +1 519-828-3071",Animal Preservation & Wildlife Control,NaN,ca,canada,Rock Glen Conservation Area,+15198283071,ca,"Arkona, ON, Canada +1 519-828-3071",+1 519-828-3071,NaN,NaN,"Nature preserve Arkona, ON, Canada +1 519-82...",NaN,abca.ca
305,"Scarborough, ON, Canada In the Splendid Chin...",Restaurants,NaN,ca,canada,Graceful Vegetarian Restaurant,+19054798381,ca,"Scarborough, ON, Canada In the Splendid Chin...",+1 905-479-8381,NaN,NaN,4.4 (248) Vegetarian restaurant Scarbor...,NaN,facebook.com
332,"Tulita, NT, Canada +1 867-588-4331",Vitamins & Supplements,NaN,ca,canada,Northern Store,+18675884331,ca,"Tulita, NT, Canada +1 867-588-4331",+1 867-588-4331,NaN,NaN,"Supermarket Tulita, NT, Canada +1 867-588-43...",NaN,facebook.com
2552,"Vancouver, BC, Canada In Duncan Building",Spa & Wellness Centers,NaN,ca,canada,The Nest Bodywork + Men's Grooming,+16729992288,ca,"Vancouver, BC, Canada In Duncan Building",+1 672-999-2288,NaN,NaN,"5,0 (33) Massage spa Duncan Building Vancouv...",NaN,vagaro.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342942,"Mono, ON, Canada In Mono Plaza",Decorators & Interior Designers,NaN,ca,canada,Orangeville Furniture,15199389964.0,ca,"Mono, ON, Canada In Mono Plaza",+1 519-938-9964,NaN,NaN,"4.2 (34) Interior designer Mono, ON, Canada ...",NaN,orangevillefurniture.ca
343068,"Levis, Quebec, Canada In Les Promenades de L...",Restaurants,NaN,ca,canada,Coco Frutti Levis,14189031054.0,ca,"Levis, Quebec, Canada In Les Promenades de L...",+1 418-903-1054,NaN,NaN,44 Route du Prsident-Kennedy In Les Promena...,NaN,cocofrutti.com
343343,"Surrey, BC, Canada In Elgin Centre","Alarms, Surveillance & Security Systems",NaN,us,canada,Sonitrol Western Canada,18667664876.0,us,"Surrey, BC, Canada In Elgin Centre",(866) 766-4876,NaN,NaN,"3.0 (3) Security system supplier Surrey, BC,...",NaN,sonitrolwesterncanada.com
345190,"Montreal, Quebec, Canada In Les Galeries du ...",Colleges & Universities,NaN,ca,canada,Steinberg Centre for Simulation and Interactiv...,15143988978.0,ca,"Montreal, Quebec, Canada In Les Galeries du ...",+1 514-398-8978,NaN,NaN,"4.4 (7) University department Montreal, Queb...",NaN,mcgill.ca
346604,"LeMoyne, Quebec, Canada In Saint-Georges Com...",Sports Medicine & Physical Therapy,NaN,ca,canada,Physio Vlo,15148193159.0,ca,"LeMoyne, Quebec, Canada In Saint-Georges Com...",+1 514-819-3159,NaN,NaN,"5.0 (5) Physical therapy clinic LeMoyne, Que...",NaN,physiovelo.com

In [296]:
google.loc[canada_no_cities_indices, 'city'] = google.loc[canada_no_cities_indices, 'raw_address'].str.split(',').str[0].str.split(' . ').str[-1]

google.loc[canada_no_cities_indices]

<ipython-input-296-73cbb2a0f34b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[canada_no_cities_indices, 'city'] = google.loc[canada_no_cities_indices, 'raw_address'].str.split(',').str[0].str.split(' . ').str[-1]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
85,"Montreal, Quebec, Canada In Complexe Le 5600...",Social Services & NGOs,Montreal,ca,canada,Horizon Roc Climbing Centre,+15148995000,ca,"Montreal, Quebec, Canada In Complexe Le 5600...",+1 514-899-5000,NaN,NaN,"4.5 (433) Adventure sports center Montreal, ...",NaN,horizonroc.com
93,"Arkona, ON, Canada +1 519-828-3071",Animal Preservation & Wildlife Control,Arkona,ca,canada,Rock Glen Conservation Area,+15198283071,ca,"Arkona, ON, Canada +1 519-828-3071",+1 519-828-3071,NaN,NaN,"Nature preserve Arkona, ON, Canada +1 519-82...",NaN,abca.ca
305,"Scarborough, ON, Canada In the Splendid Chin...",Restaurants,Scarborough,ca,canada,Graceful Vegetarian Restaurant,+19054798381,ca,"Scarborough, ON, Canada In the Splendid Chin...",+1 905-479-8381,NaN,NaN,4.4 (248) Vegetarian restaurant Scarbor...,NaN,facebook.com
332,"Tulita, NT, Canada +1 867-588-4331",Vitamins & Supplements,Tulita,ca,canada,Northern Store,+18675884331,ca,"Tulita, NT, Canada +1 867-588-4331",+1 867-588-4331,NaN,NaN,"Supermarket Tulita, NT, Canada +1 867-588-43...",NaN,facebook.com
2552,"Vancouver, BC, Canada In Duncan Building",Spa & Wellness Centers,Vancouver,ca,canada,The Nest Bodywork + Men's Grooming,+16729992288,ca,"Vancouver, BC, Canada In Duncan Building",+1 672-999-2288,NaN,NaN,"5,0 (33) Massage spa Duncan Building Vancouv...",NaN,vagaro.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342942,"Mono, ON, Canada In Mono Plaza",Decorators & Interior Designers,Mono,ca,canada,Orangeville Furniture,15199389964.0,ca,"Mono, ON, Canada In Mono Plaza",+1 519-938-9964,NaN,NaN,"4.2 (34) Interior designer Mono, ON, Canada ...",NaN,orangevillefurniture.ca
343068,"Levis, Quebec, Canada In Les Promenades de L...",Restaurants,Levis,ca,canada,Coco Frutti Levis,14189031054.0,ca,"Levis, Quebec, Canada In Les Promenades de L...",+1 418-903-1054,NaN,NaN,44 Route du Prsident-Kennedy In Les Promena...,NaN,cocofrutti.com
343343,"Surrey, BC, Canada In Elgin Centre","Alarms, Surveillance & Security Systems",Surrey,us,canada,Sonitrol Western Canada,18667664876.0,us,"Surrey, BC, Canada In Elgin Centre",(866) 766-4876,NaN,NaN,"3.0 (3) Security system supplier Surrey, BC,...",NaN,sonitrolwesterncanada.com
345190,"Montreal, Quebec, Canada In Les Galeries du ...",Colleges & Universities,Montreal,ca,canada,Steinberg Centre for Simulation and Interactiv...,15143988978.0,ca,"Montreal, Quebec, Canada In Les Galeries du ...",+1 514-398-8978,NaN,NaN,"4.4 (7) University department Montreal, Queb...",NaN,mcgill.ca
346604,"LeMoyne, Quebec, Canada In Saint-Georges Com...",Sports Medicine & Physical Therapy,LeMoyne,ca,canada,Physio Vlo,15148193159.0,ca,"LeMoyne, Quebec, Canada In Saint-Georges Com...",+1 514-819-3159,NaN,NaN,"5.0 (5) Physical therapy clinic LeMoyne, Que...",NaN,physiovelo.com

In [297]:
all_countries = google['country_name'].unique()
all_countries_list = all_countries.tolist()
all_countries_list

['australia',
 'canada',
 'united states',
 nan,
 'malaysia',
 'united kingdom',
 'belgium',
 'france',
 'turkey',
 'new zealand',
 'germany',
 'qatar',
 'japan',
 'hong kong',
 'italy',
 'south africa',
 'romania',
 'mexico',
 'ecuador',
 'uganda',
 'puerto rico',
 'philippines',
 'bosnia and herzegovina',
 'pakistan',
 'taiwan',
 'malta',
 'brazil',
 'andorra',
 'saudi arabia',
 'netherlands',
 'spain',
 'slovenia',
 'jamaica',
 'bangladesh',
 'india',
 'benin',
 'liberia',
 'martinique',
 'russia',
 'poland',
 'Vietnam',
 'china',
 'albania',
 'colombia',
 'laos',
 'greece',
 'denmark',
 'united arab emirates',
 'ukraine',
 'guatemala',
 'austria',
 'south korea',
 'portugal',
 'vietnam',
 'bulgaria',
 'South Africa',
 'belarus',
 'czechia',
 'norway',
 'ireland',
 'croatia',
 'el salvador',
 'iraq',
 'cuba',
 'nicaragua',
 'venezuela',
 'hungary',
 'chile',
 'thailand',
 'finland',
 'luxembourg',
 'cambodia',
 'sweden',
 'zimbabwe',
 'switzerland',
 'indonesia',
 'burundi',
 'guinea',
 'egypt',
 'oman',
 'algeria',
 'peru',
 'nigeria',
 'ghana',
 'sri lanka',
 'singapore',
 'argentina',
 'guyana',
 'faroe islands',
 'iceland',
 'republic of lithuania',
 'curaao',
 'guadeloupe',
 'honduras',
 'sudan',
 'bolivia',
 'serbia',
 'costa rica',
 'papua new guinea',
 'dominican republic',
 'panama',
 'slovakia',
 'nepal',
 'lebanon',
 'morocco',
 'bahamas',
 'estonia',
 'cameroon',
 'ethiopia',
 'latvia',
 'u.s. virgin islands',
 'kyrgyzstan',
 'georgia',
 'libya',
 'trinidad and tobago',
 'vanuatu',
 'malawi',
 'paraguay',
 'madagascar',
 'montenegro',
 'botswana',
 'north macedonia',
 'rwanda',
 'tunisia',
 'aruba',
 'haiti',
 'gabon',
 'solomon islands',
 'bahrain',
 'senegal',
 'kazakhstan',
 'brunei',
 'republic of moldova',
 'burkina faso',
 'mozambique',
 'mauritania',
 'zambia',
 'belize',
 'tajikistan',
 'kuwait',
 'somalia',
 'liechtenstein',
 'israel',
 'uzbekistan',
 'afghanistan',
 'sint maarten',
 'gambia',
 'fiji',
 'niger',
 'armenia',
 'tonga',
 'uruguay',
 'azerbaijan',
 'yemen',
 'land',
 'mali',
 'togo',
 'namibia',
 'mauritius',
 'barbados',
 'angola',
 'suriname',
 'myanmar',
 'seychelles',
 'saint lucia',
 'samoa',
 'comoros',
 'central african republic',
 'maldives',
 'sierra leone',
 'dominica',
 'french polynesia',
 'bhutan',
 'guam',
 'bermuda',
 'kenya',
 'new caledonia',
 'greenland',
 'saint vincent and the grenadines',
 'south sudan',
 'french guiana',
 'lesotho',
 'american samoa',
 'iran',
 'reunion',
 'guinea-bissau',
 'isle of man',
 'jersey',
 'hashemite kingdom of jordan',
 'st kitts and nevis']

After checking almost all the counrties I realised that the same process could be apply for all of them.

In [298]:
for country in all_countries_list:
  indices = google[
    google['country_name'].isna() &
    google['raw_address'].str.contains(f' {country} ', case=False, na=False)
    ].index

  google.loc[indices, 'country_name'] = f'{country}'
  google.loc[indices, 'city'] = google.loc[indices, 'raw_address'].str.split(',').str[0].str.split(' . ').str[-1]

<ipython-input-298-a9ae38229a88>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[indices, 'country_name'] = f'{country}'
<ipython-input-298-a9ae38229a88>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.loc[indices, 'city'] = google.loc[indices, 'raw_address'].str.split(',').str[0].str.split(' . ').str[-1]

In [299]:
google

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
1,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) Craft store West Gosford NSW, Aust...",2250,spotlightstores.com
2,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,ca,canada,Heritage Christian Book Store,+19059374553,ca,400 Scott St In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) Book store 400 Scott St In Grant...,l2m 3w2,bookmanager.com
3,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,ca,canada,Pleasant Timber Mart,+19027429181,ca,"7+ years in business Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) Building materials store 7+ years i...,b5a 2j9,timbermart.ca
4,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,us,united states,Skin Specifics Medical Spa West LA,+18184268353,us,7+ years in business 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) Medical spa 7+ years in business ...,90025,linktr.ee
5,NaN,Catering & Delivery,NaN,NaN,NaN,Lakay express,NaN,NaN,NaN,NaN,NaN,NaN,5.0 (1) Mobile caterer Open Closes 9PM,NaN,linktr.ee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346921,"12b Marsh Cl, Winterbourne, Bristol BS36 1HY, ...",Gift Shops,bristol,gb,united kingdom,Dina Nur,447506791469.0,gb,"Bristol, United Kingdom",+44 7506 791469,eng,england,"5.0 (1) Candle store Bristol, United Kingdom...",bs36 1hy,etsy.com
346922,NaN,NaN,NaN,NaN,NaN,a Spritz of Suz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etsy.com
346923,NaN,NaN,NaN,gb,NaN,Heartstrings Candles,447435939484.0,gb,NaN,+44 7435 939484,NaN,NaN,+44 7435 939484 Open 24 hours,NaN,etsy.com
346924,NaN,Plant Nurseries & Stores,NaN,NaN,NaN,Flora by Joyce,NaN,NaN,NaN,NaN,NaN,NaN,No reviews Plant nursery,NaN,etsy.com
346925,"8024 22nd Ave, Kenosha, WI 53143",NaN,kenosha,us,united states,Jazzercise Kenosha Fitness Center,12622378670.0,NaN,"Kenosha, WI In Sunnyside Park",(262) 237-8670,wi,wisconsin,"4.9 (13) Fitness center Kenosha, WI In Sun...",53143,jazzercise.com

Here, I am checking if there are other messy rows

In [300]:
google[google['phone'].str.contains(r'[a-zA-Z]') | google['phone'].str.contains(r'[a-zA-Z]')]

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
8583,"Ufimskoye Shosse, 4, Ufa, Republic of Bashkort...",NaN,ufa,ru,russia,"Makheyev\"",+78003333693,ru,Ufa","Russia""",+7 800 333-36-93,ba,bashkortostan republic,"Food store Ufa, Russia Permanently closed +7...",450000,maheev.ru,NaN,NaN
185344,"Ulitsa Zarubina, 150, Saratov, Saratov Oblast,...",NaN,saratov,ru,russia,"Firmennyy Ofis \Angstrem\""",",+78452291768,ru,"",+7 845 229-17-68,sar,sarato...",Russia In Vash Dom +7 845 229-17-68 Close...,410005,angstrem-mebel.ru,NaN,NaN,NaN,NaN,NaN

In [301]:
google.drop(google[(google['phone'].str.contains(r'[a-zA-Z]')) & (google['phone'].notna())].index, axis=0, inplace=True)

<ipython-input-301-9162ed7a9dfa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  google.drop(google[(google['phone'].str.contains(r'[a-zA-Z]')) & (google['phone'].notna())].index, axis=0, inplace=True)

# **Facebook**

In [302]:
fb

,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
1,euro-hygiene-34.fr,"134 rue entrepreneurs, za du vign, 30420, cal...",NaN,calvisson,fr,france,NaN,NaN,https://euro-hygiene-34.fr,Euro Hygine,LocalBusiness,NaN,NaN,occ,occitanie,30420
2,lakesidehomeservices.ca,NaN,Appliance Repair & Maintenance|Home Builders &...,NaN,ca,NaN,NaN,NaN,https://lakesidehomeservices.ca,Lakeside Home Services,LocalBusiness,+16138318840,ca,NaN,NaN,NaN
3,rossiterboats.com,NaN,Boats & Yachts Dealers|Boat Tours & Cruises,NaN,NaN,NaN,At Rossiter Boats we build semi-custom power b...,info@rossiterboats.com,http://rossiterboats.com,Rossiter Boats,LocalBusiness,NaN,NaN,NaN,NaN,NaN
4,caa-architecture.com,"601 cordova st w # 270, v6b 1g1, vancouver, bc...",Architects & Architectural Services|Other Engi...,vancouver,ca,canada,NaN,office@caa-arcitecture.com,http://caa-architecture.com,Chandler Associates Architecture Inc.,LocalBusiness,+16046873390,ca,bc,british columbia,v6b 1g1
5,apexsurety.ca,"unit 3 - 4 donald street, r3l 2t7, winnipeg, m...",NaN,winnipeg,ca,canada,NaN,NaN,https://apexsurety.ca,Apex Surety & Insurance Ltd.,LocalBusiness,+12045602508,ca,mb,manitoba,r3l 2t7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71163,cadex.com,"22000 fraserwood way, v6w1j6, richmond, bc, ca...",NaN,richmond,ca,canada,Cadex specializes in the design and manufactur...,answers@cadex.com,http://cadex.com,Cadex Electronics,Organization,NaN,NaN,bc,british columbia,NaN
71164,coastlinecatering.ca,"351 prince edward drive north, m8x 2l4, toront...",NaN,NaN,ca,NaN,NaN,NaN,https://coastlinecatering.ca,Coastline Catering,LocalBusiness,14162949022.0,ca,NaN,NaN,NaN
71165,hcwd.com,"1400 rogersville rd, 40160, radcliff, ky, kent...",Utility companies|Auto Services|Utility companies,radcliff,us,united states,NaN,NaN,https://hcwd.com,Hardin County Water District No. 1,Organization,12703513222.0,us,ky,kentucky,40160
71166,serenityskincarestudio.com,"15 westmount rd s, unit 301, n2r 1p1, kitchene...",Hair Removal Service|Spa & Wellness Centers,kitchener,ca,canada,NaN,NaN,https://serenityskincarestudio.com,Serenity Skin Care Studio Inc,LocalBusiness,15197472256.0,ca,on,ontario,n2r 1p1
71167,easttorontofootcare.com,"643 queen street east, m4m 1g4, toronto, on, c...",Clinics - Surgeons & Physicians|Clinics - Surg...,toronto,ca,canada,East end chiropody clinic providing services f...,info@easttorontofootcare.com,http://easttorontofootcare.com,East Toronto Foot Care,LocalBusiness,14167924420.0,ca,on,ontario,m4m 1g4

In [303]:
fb['country_name'].value_counts().head(50)

canada                  30729
united states            6324
australia                1599
united kingdom            934
russia                    491
united arab emirates      422
south africa              417
germany                   389
turkey                    384
netherlands               373
belgium                   314
malaysia                  294
france                    282
singapore                 222
india                     163
hong kong                 157
greece                    145
taiwan                    145
poland                    123
spain                     102
south korea                70
philippines                58
new zealand                55
china                      55
italy                      47
vietnam                    46
japan                      41
austria                    31
sweden                     28
bangladesh                 24
indonesia                  23
switzerland                20
norway                     19
denmark                    19
qatar                      17
sri lanka                  16
mexico                     15
romania                    12
finland                    11
colombia                   11
saudi arabia               11
chile                      10
brazil                     10
pakistan                   10
ecuador                    10
hungary                     8
ireland                     8
panama                      8
ukraine                     7
egypt                       7
Name: country_name, dtype: int64

In [304]:
fb_japan_no_cities_indices = fb[
    fb['city'].isna() &
    fb['address'].str.contains('japan', case=False, na=False)
].index

In [305]:
fb.loc[fb_japan_no_cities_indices]

,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
323,softbankhawks.co.jp,"paypay, 8108660, fukuoka-shi,...",Sports Medicine & Physical Therapy|Sports Asso...,NaN,jp,NaN,NaN,NaN,https://softbankhawks.co.jp,,Organization,+81928471006,jp,NaN,NaN,NaN
324,joneslanglasalle.co.jp,"2-13-10 4, 100-0014, chiyoda-ku,...",Property Management|Real Estate Investment|Rea...,NaN,jp,NaN,NaN,NaN,https://joneslanglasalle.co.jp,JLL,LocalBusiness,+81355019200,jp,NaN,NaN,NaN
669,taiheiyoclub.co.jp,"1-31, 1050013, minato-ku, tokyo, japan, tokyo",Golf Courses & Country Clubs,NaN,NaN,NaN,NaN,NaN,https://taiheiyoclub.co.jp,Taiheiyo Club /,LocalBusiness,NaN,NaN,NaN,NaN,NaN
813,sapporo-d.co.jp,"2423-26, 001-0024, sapporo-shi, hokk...",NaN,NaN,jp,NaN,NaN,NaN,https://sapporo-d.co.jp,,Organization,+81117473336,jp,NaN,NaN,NaN
863,goodyear.co.jp,"1-9-13, 107-0052, minato-ku, tokyo, ja...",Wheels & Tire Dealers,NaN,jp,NaN,NaN,NaN,https://goodyear.co.jp,GOODYEAR Japan,LocalBusiness,+81355728235,jp,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69435,recyclehub.jp,", 120-0034, adachi-ku, tokyo, japan, t...",NaN,NaN,jp,NaN,NaN,NaN,https://recyclehub.jp,,Organization,81364571653.0,jp,NaN,NaN,NaN
69799,momentum.co.jp,"1-1-112f, 107-0062, minato-ku, tokyo...",NaN,NaN,jp,NaN,NaN,NaN,https://momentum.co.jp,Momentum Worldwide Japan,LocalBusiness,81337468040.0,jp,NaN,NaN,NaN
69845,shiseido.co.jp,"8-8-3, 104-0061, chuo-ku, tokyo, japan, tokyo",Restaurants,NaN,jp,NaN,NaN,NaN,https://shiseido.co.jp,,Restaurant,81355376231.0,jp,NaN,NaN,NaN
69904,netz-tomakomai.co.jp,", 053-0006, tomakomai-shi, ho...",Auto Parts Store,NaN,NaN,NaN,NaN,NaN,https://netz-tomakomai.co.jp,,LocalBusiness,NaN,NaN,NaN,NaN,NaN
69971,altia.co.jp,"7-20-10, 1340088, edogawa-ku, tokyo, japan,...",Industrial Machinery & Supplies,NaN,jp,NaN,NaN,NaN,https://altia.co.jp,,Organization,81356598160.0,jp,NaN,NaN,NaN

In [306]:
fb_countries = fb['country_name'].unique()
fb_countries_list = fb_countries.tolist()
#Remove the NaN value
fb_countries_list.pop(1)

fb_countries_list

['france',
 'canada',
 'australia',
 'united states',
 'peru',
 'norway',
 'united arab emirates',
 'singapore',
 'netherlands',
 'turkey',
 'trinidad and tobago',
 'germany',
 'spain',
 'united kingdom',
 'russia',
 'hong kong',
 'south africa',
 'bangladesh',
 'morocco',
 'malaysia',
 'south korea',
 'poland',
 'italy',
 'gabon',
 'greece',
 'taiwan',
 'switzerland',
 'sweden',
 'romania',
 'india',
 'portugal',
 'philippines',
 'denmark',
 'chile',
 'mexico',
 'oman',
 'new zealand',
 'belgium',
 'brazil',
 'georgia',
 'china',
 'mozambique',
 'indonesia',
 'ireland',
 'qatar',
 'pakistan',
 'saudi arabia',
 'austria',
 'vietnam',
 'sri lanka',
 'colombia',
 'slovakia',
 'hashemite kingdom of jordan',
 'ukraine',
 'japan',
 'ecuador',
 'panama',
 'luxembourg',
 'tajikistan',
 'finland',
 'liechtenstein',
 'myanmar',
 'kuwait',
 'egypt',
 'hungary',
 'israel',
 'kosovo',
 'thailand',
 'costa rica',
 'el salvador',
 'brunei',
 'argentina',
 'venezuela',
 'bosnia and herzegovina',
 'croatia',
 'estonia',
 'czechia',
 'mauritius',
 'cambodia',
 'zimbabwe',
 'botswana',
 'paraguay',
 'belarus',
 'iceland',
 'bulgaria',
 'republic of lithuania',
 'u.s. virgin islands',
 'nigeria',
 'latvia',
 'honduras',
 'barbados',
 'albania',
 'french polynesia',
 'angola',
 'gibraltar',
 'serbia',
 'togo',
 'puerto rico',
 'dominican republic',
 'nicaragua',
 'namibia',
 'runion',
 'lebanon',
 'uzbekistan',
 'new caledonia',
 'guam',
 'iraq',
 'slovenia',
 'republic of moldova',
 'monaco',
 'uganda',
 'zambia',
 'bolivia',
 'senegal',
 'kyrgyzstan',
 'armenia']

Next, I will set the country_name value based on the 'address' column for all the records that don't have a country_name value

In [307]:
for country in fb_countries_list:
  indices = fb[
    fb['country_name'].isna() &
    fb['address'].str.contains(country, case=False, na=False)
    ].index
  fb.loc[indices, 'country_name'] = country

<ipython-input-307-a65f92fe633d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fb.loc[indices, 'country_name'] = country

# Here's just a try to get the cities too. I made some progress but apparently it needs more time

In [308]:
# google.loc[canada_no_cities_indices, 'city'] = google.loc[canada_no_cities_indices, 'raw_address'].str.split(',').str[0].str.split(' . ').str[-1]
fb_address = fb.loc[fb_japan_no_cities_indices, 'address'].str.split(',')
fb_address

323      [ paypay,  8108660,  fukuoka-s...
324      [2-13-10 4,  100-0014,  chiyoda-...
669      [1-31,  1050013,  minato-ku,  tokyo,  japan...
813      [2423-26,  001-0024,  sapporo-shi,  ...
863      [1-9-13,  107-0052,  minato-ku,  tokyo...
                               ...
69435    [,  120-0034,  adachi-ku,  tokyo,  jap...
69799    [1-1-112f,  107-0062,  minato-ku,  t...
69845    [8-8-3,  104-0061,  chuo-ku,  tokyo,  japan,...
69904    [,  053-0006,  tomakomai-shi,...
69971    [7-20-10,  1340088,  edogawa-ku,  tokyo,  j...
Name: address, Length: 337, dtype: object

In [309]:
import re

for ci, country in enumerate(fb_countries_list):
  indices = fb[
    fb['city'].isna() &
    fb['address'].str.contains(country, case=False, na=False)
    ].index
  address = fb.loc[indices, 'address'].str.split(',')
  pattern = r'\b\s*{}\s*\b'.format(re.escape(country))


  cities = []
  for i in address:
    for j, c in enumerate(i):
      if re.search(pattern, c):
        cities.append(i[j-1])
        break
  print(ci,cities)

0 [' boulogne-sur-geese', ' chlons-sur-marne', ' bassussary', ' lyon', " l'isle-en-dodon", ' 21130', ' minnesota', ' saint-patrice', ' marignane', ' 78340 les clayes-sous-bois', ' siaugues-saint-romain', ' chlons-sur-marne', ' boulogne-sur-geese', ' bromont', " vallon-pont-d'arc", ' dou-en-anjou', ' macau', " marcy-l'toile", ' paris']

In [310]:
#valid countries = 0,4,5,6,8,9,10,11,12,13,14,16,17, 18, 19, 20, 21, 22, 24,25,26,27,29,30,31,33,34,35,36, 37, 40, 41, 43, 44, 46, 47,48,49,50,54,55,63, 65,66, 67,68,69,71,
  #73,81,88,90,91,95,97,99,112
import re

for ci, country in enumerate(fb_countries_list):
  indices = fb[
    fb['city'].isna() &
    fb['address'].str.contains(country, case=False, na=False)
    ].index
  address = fb.loc[indices, 'address'].str.split(',')
  pattern = r'\b\s*{}\s*\b'.format(re.escape(country))



  cities = []
  for i in address:
    for j, c in enumerate(i):
      if re.search(pattern, c):
        cities.append(i[j-1])
        break
  print(ci,cities)
  #0,4,5,6,8,9,10,11,12,13,14,16,17, 18, 19, 20, 21, 22, 24,25,26,27,29,30,31,33,34,35,36, 37, 40, 41, 43, 44, 46, 47,48,49,50,54,55,63, 65,66, 67,68,69,71,
  #73,81,88,90,91,95,97,99,112

0 [' boulogne-sur-geese', ' chlons-sur-marne', ' bassussary', ' lyon', " l'isle-en-dodon", ' 21130', ' minnesota', ' saint-patrice', ' marignane', ' 78340 les clayes-sous-bois', ' siaugues-saint-romain', ' chlons-sur-marne', ' boulogne-sur-geese', ' bromont', " vallon-pont-d'arc", ' dou-en-anjou', ' macau', " marcy-l'toile", ' paris']

In [311]:
valid_countries_indices = [0,4,5,6,8,9,10,11,12,13,14,16,17, 18, 19, 20, 21, 22, 24,25,26,27,29,30,31,33,34,35,36, 37, 40, 41, 43, 44, 46, 47,48,49,50,54,55,63, 65,66, 67,68,69,71,
  73,81,88,90,91,95,97,99,112]

valid_countries = [fb_countries_list[i] for i in valid_countries_indices]

valid_countries

['france',
 'peru',
 'norway',
 'united arab emirates',
 'netherlands',
 'turkey',
 'trinidad and tobago',
 'germany',
 'spain',
 'united kingdom',
 'russia',
 'south africa',
 'bangladesh',
 'morocco',
 'malaysia',
 'south korea',
 'poland',
 'italy',
 'greece',
 'taiwan',
 'switzerland',
 'sweden',
 'india',
 'portugal',
 'philippines',
 'chile',
 'mexico',
 'oman',
 'new zealand',
 'belgium',
 'china',
 'mozambique',
 'ireland',
 'qatar',
 'saudi arabia',
 'austria',
 'vietnam',
 'sri lanka',
 'colombia',
 'japan',
 'ecuador',
 'egypt',
 'israel',
 'kosovo',
 'thailand',
 'costa rica',
 'el salvador',
 'argentina',
 'bosnia and herzegovina',
 'paraguay',
 'latvia',
 'barbados',
 'albania',
 'serbia',
 'puerto rico',
 'nicaragua',
 'bolivia']

In [312]:
for ci, country in enumerate(valid_countries):
  indices = fb[
    fb['city'].isna() &
    fb['address'].str.contains(country, case=False, na=False)
    ].index
  address = fb.loc[indices, 'address'].str.split(',')
  pattern = r'\s*{}\s*'.format(country)


  cities = []
  for i in address:
    for j, c in enumerate(i):
      if re.search(pattern, c):
        cities.append(i[j-1])
      else:
        cities.append(None)
      break
  print(country)
  print(fb.loc[indices]['city'])
  print(cities)

france
1041     NaN
7656     NaN
9475     NaN
10706    NaN
18016    NaN
18734    NaN
22562    NaN
27645    NaN
29060    NaN
36590    NaN
37376    NaN
37566    NaN
38722    NaN
42854    NaN
45638    NaN
45895    NaN
49679    NaN
55022    NaN
55779    NaN
59666    NaN
65643    NaN
68469    NaN
Name: city, dtype: object
[None, None, None, None, None, None, ' minnesota', None, None, ' quebec', None, None, None, None, None, None, None, None, None, None, None, None]
peru
7542     NaN
8634     NaN
14544    NaN
17146    NaN
24297    NaN
26667    NaN
36505    NaN
50663    NaN
56699    NaN
56812    NaN
60967    NaN
62187    NaN
67739    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None]
norway
14233    NaN
61650    NaN
Name: city, dtype: object
[None, None]
united arab emirates
2957     NaN
10649    NaN
14356    NaN
18839    NaN
21465    NaN
25654    NaN
25692    NaN
35360    NaN
36264    NaN
43202    NaN
49282    NaN
50567    NaN
56158    NaN
61760    NaN
65114    NaN
Name: city, dtype: object
[None, ' emirate of ajman', None, None, None, None, None, None, None, None, None, None, None, None, None]
netherlands
1152     NaN
2653     NaN
5022     NaN
5477     NaN
6623     NaN
        ...
68245    NaN
69693    NaN
69709    NaN
70131    NaN
70556    NaN
Name: city, Length: 96, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
turkey
499      NaN
629      NaN
727      NaN
944      NaN
1013     NaN
        ...
69851    NaN
69974    NaN
70048    NaN
70477    NaN
70877    NaN
Name: city, Length: 391, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, ' ankara province', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, ' izmir province', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, ' istanbul province', None, None, None, None, ' izmir province', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
trinidad and tobago
8824     NaN
32392    NaN
Name: city, dtype: object
[None, None]
germany
988      NaN
3110     NaN
3246     NaN
3896     NaN
3959     NaN
        ...
66403    NaN
67448    NaN
67717    NaN
68342    NaN
70470    NaN
Name: city, Length: 71, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
spain
1401     NaN
3212     NaN
9481     NaN
9693     NaN
19262    NaN
25445    NaN
41342    NaN
42248    NaN
45479    NaN
46020    NaN
48732    NaN
53867    NaN
56713    NaN
58438    NaN
62110    NaN
64549    NaN
66121    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
united kingdom
7881     NaN
11212    NaN
25067    NaN
41008    NaN
50211    NaN
Name: city, dtype: object
[None, None, None, None, None]
russia
3047     NaN
3094     NaN
4360     NaN
4749     NaN
7791     NaN
10183    NaN
11819    NaN
13355    NaN
16063    NaN
17653    NaN
20872    NaN
21327    NaN
22195    NaN
22719    NaN
26513    NaN
27906    NaN
28242    NaN
29209    NaN
30519    NaN
31226    NaN
32049    NaN
32816    NaN
33075    NaN
33376    NaN
33487    NaN
36640    NaN
37803    NaN
38235    NaN
38243    NaN
41096    NaN
42637    NaN
44893    NaN
45629    NaN
47632    NaN
47727    NaN
50537    NaN
51994    NaN
53926    NaN
56576    NaN
57384    NaN
57541    NaN
60386    NaN
61043    NaN
61110    NaN
61779    NaN
62611    NaN
62666    NaN
63927    NaN
64718    NaN
66169    NaN
69210    NaN
70084    NaN
70746    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, ' saint petersburg', None, None, None, None, None, None, None, None, None]
south africa
4826     NaN
5251     NaN
5898     NaN
7081     NaN
9833     NaN
15486    NaN
15773    NaN
16412    NaN
18375    NaN
18778    NaN
19133    NaN
22903    NaN
24402    NaN
25106    NaN
25229    NaN
29949    NaN
30201    NaN
31901    NaN
32649    NaN
32924    NaN
34364    NaN
36031    NaN
36472    NaN
37663    NaN
37925    NaN
40225    NaN
42668    NaN
43819    NaN
44854    NaN
45881    NaN
46639    NaN
47071    NaN
48104    NaN
48154    NaN
49679    NaN
51004    NaN
51636    NaN
52954    NaN
55026    NaN
55290    NaN
55299    NaN
58093    NaN
58839    NaN
66264    NaN
70422    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'scorpion legal protection has full service as well as express branches located across south africa. please visit  http://www.scorpion.biz/contact-us-index.aspx to find a branch near you!', None, None, None, None, None, None, None]
bangladesh
895      NaN
5216     NaN
9961     NaN
13413    NaN
13806    NaN
14707    NaN
22803    NaN
22878    NaN
27345    NaN
44604    NaN
44613    NaN
59499    NaN
59732    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None]
morocco
14073    NaN
Name: city, dtype: object
[None]
malaysia
2317     NaN
2407     NaN
2988     NaN
6263     NaN
6664     NaN
7279     NaN
7294     NaN
7743     NaN
8414     NaN
8661     NaN
8770     NaN
8954     NaN
10376    NaN
11205    NaN
11657    NaN
12461    NaN
13873    NaN
14373    NaN
14488    NaN
15440    NaN
15711    NaN
17759    NaN
19084    NaN
19494    NaN
20538    NaN
22136    NaN
23495    NaN
26388    NaN
28503    NaN
28894    NaN
28982    NaN
29491    NaN
30860    NaN
33298    NaN
34641    NaN
34866    NaN
37560    NaN
37568    NaN
37744    NaN
37923    NaN
40794    NaN
44031    NaN
44104    NaN
45192    NaN
46331    NaN
48478    NaN
49353    NaN
50199    NaN
52038    NaN
54368    NaN
54784    NaN
55509    NaN
56070    NaN
56121    NaN
57972    NaN
58227    NaN
61222    NaN
61907    NaN
Name: city, dtype: object
[None, None, None, None, None, ' johor', None, None, None, None, None, None, None, None, None, None, None, ' 52109', None, None, ' putrajaya', None, None, None, None, None, None, None, None, None, None, ' kuala lumpur', None, None, None, ' kuala lumpur', None, None, None, None, None, None, None, ' putrajaya', None, None, ' perlis', None, None, None, None, None, None, None, None, None, None, None]
south korea
7268     NaN
7903     NaN
9348     NaN
14741    NaN
15210    NaN
18718    NaN
24210    NaN
24299    NaN
34530    NaN
45520    NaN
54086    NaN
56168    NaN
56899    NaN
63545    NaN
64594    NaN
65885    NaN
69302    NaN
69328    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
poland
6396     NaN
10536    NaN
17536    NaN
17542    NaN
18672    NaN
18763    NaN
22060    NaN
22750    NaN
24204    NaN
29439    NaN
29605    NaN
31382    NaN
31788    NaN
33163    NaN
34957    NaN
35493    NaN
36507    NaN
37027    NaN
40898    NaN
43193    NaN
45162    NaN
46615    NaN
48513    NaN
49719    NaN
50777    NaN
53264    NaN
54419    NaN
58254    NaN
59599    NaN
61237    NaN
63615    NaN
63934    NaN
65232    NaN
66633    NaN
69221    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
italy
5710     NaN
11950    NaN
15535    NaN
23041    NaN
23494    NaN
24583    NaN
28898    NaN
30983    NaN
37714    NaN
41376    NaN
42604    NaN
44435    NaN
46455    NaN
46479    NaN
46715    NaN
61904    NaN
64581    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
greece
50       NaN
217      NaN
872      NaN
979      NaN
1271     NaN
        ...
68548    NaN
69318    NaN
70281    NaN
70329    NaN
70960    NaN
Name: city, Length: 137, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
taiwan
889      NaN
1124     NaN
2207     NaN
2230     NaN
4723     NaN
        ...
68656    NaN
68897    NaN
69503    NaN
70850    NaN
71132    NaN
Name: city, Length: 122, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
switzerland
1431     NaN
8579     NaN
14072    NaN
18189    NaN
20318    NaN
33114    NaN
52948    NaN
62041    NaN
68047    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None]
sweden
2633     NaN
31965    NaN
48330    NaN
53766    NaN
Name: city, dtype: object
[None, None, None, None]
india
1395     NaN
1901     NaN
2124     NaN
2931     NaN
2935     NaN
        ...
68976    NaN
69298    NaN
69471    NaN
69911    NaN
70210    NaN
Name: city, Length: 200, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, ' haryana', None, None, None, None, None, None, None, None, ' delhi', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, ' indiana', None, None, None, None, None, None, ' texas', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, ' delhi', None, None, None, None, None, None, None, None, None, ' kerala', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
portugal
19115    NaN
40575    NaN
43041    NaN
69693    NaN
Name: city, dtype: object
[None, None, None, ' drenthe']
philippines
13324    NaN
16438    NaN
26164    NaN
28364    NaN
30196    NaN
33455    NaN
34761    NaN
42013    NaN
42781    NaN
44460    NaN
45223    NaN
45855    NaN
60701    NaN
63077    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None]
chile
12876    NaN
18214    NaN
31823    NaN
35655    NaN
46880    NaN
49852    NaN
50390    NaN
52711    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None]
mexico
1759     NaN
5093     NaN
5380     NaN
5903     NaN
8906     NaN
9839     NaN
11389    NaN
12152    NaN
13147    NaN
14472    NaN
18437    NaN
19110    NaN
21053    NaN
21980    NaN
42968    NaN
43945    NaN
46340    NaN
51676    NaN
52921    NaN
54324    NaN
54788    NaN
57033    NaN
63233    NaN
66624    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
oman
3657     NaN
4127     NaN
11542    NaN
13343    NaN
13755    NaN
15482    NaN
16352    NaN
20058    NaN
20251    NaN
22362    NaN
30026    NaN
31281    NaN
32444    NaN
32584    NaN
33611    NaN
34390    NaN
36691    NaN
46424    NaN
50376    NaN
52576    NaN
52877    NaN
53497    NaN
60215    NaN
60345    NaN
61554    NaN
62020    NaN
62357    NaN
65512    NaN
66965    NaN
70634    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, ' ontario', None, None, ' ontario', None, None, None, None, None, None, None, None, None, None, None, None]
new zealand
754      NaN
920      NaN
1070     NaN
2282     NaN
3879     NaN
        ...
66625    NaN
68435    NaN
68836    NaN
70359    NaN
71021    NaN
Name: city, Length: 69, dtype: object
[None, None, None, None, None, None, None, ' 15 offices throughout new zealand', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'new zealand', None, None]
belgium
400      NaN
5770     NaN
5986     NaN
10902    NaN
11624    NaN
17537    NaN
20687    NaN
21728    NaN
22726    NaN
23447    NaN
32330    NaN
32471    NaN
33413    NaN
44357    NaN
45918    NaN
60725    NaN
68860    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
china
2277     NaN
6123     NaN
11942    NaN
13672    NaN
15516    NaN
17162    NaN
22603    NaN
24961    NaN
26942    NaN
36347    NaN
45707    NaN
48337    NaN
48942    NaN
67661    NaN
68722    NaN
69718    NaN
Name: city, dtype: object
[None, None, ' beijing', None, None, ' hanoi', None, None, None, None, None, None, None, None, None, None]
mozambique
Series([], Name: city, dtype: object)
[]
ireland
466      NaN
4275     NaN
5140     NaN
5529     NaN
14960    NaN
15916    NaN
16719    NaN
18181    NaN
19239    NaN
22861    NaN
23062    NaN
32114    NaN
32221    NaN
37135    NaN
43735    NaN
44144    NaN
44997    NaN
51349    NaN
55291    NaN
64300    NaN
64941    NaN
65128    NaN
66213    NaN
67096    NaN
68337    NaN
68477    NaN
69926    NaN
70678    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
qatar
1171     NaN
1774     NaN
1864     NaN
3095     NaN
3624     NaN
        ...
65889    NaN
66623    NaN
67353    NaN
68116    NaN
69099    NaN
Name: city, Length: 76, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'qatar', None, None, None, ' al rayyan', ' 625214', None, None, ' al rayyan', None, None, None, None, None, None, None, None, ' doha', None, None, None, None, None, None, None, None, None, ' doha', None, None, None, None, None, ' doha', None, None, None, None, None, None, None, None, None, None, None, ' doha', None, None, None, None, None, None, ' doha', None, None, None, None, None, None, None, None]
saudi arabia
5158     NaN
23289    NaN
33641    NaN
67224    NaN
Name: city, dtype: object
[None, None, None, None]
austria
26467    NaN
32061    NaN
63765    NaN
67166    NaN
Name: city, dtype: object
[None, None, None, None]
vietnam
1380     NaN
4009     NaN
5307     NaN
6977     NaN
7670     NaN
10801    NaN
11757    NaN
12093    NaN
17162    NaN
17787    NaN
20310    NaN
20727    NaN
25172    NaN
29080    NaN
38436    NaN
41190    NaN
45017    NaN
45413    NaN
47828    NaN
52508    NaN
56634    NaN
58206    NaN
60404    NaN
62618    NaN
63009    NaN
63453    NaN
64127    NaN
65518    NaN
65713    NaN
66955    NaN
67676    NaN
68655    NaN
70860    NaN
Name: city, dtype: object
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
sri lanka
3080     NaN
7224     NaN
12247    NaN
15212    NaN
15378    NaN
21981    NaN
30799    NaN
32339    NaN
33203    NaN
36068    NaN
38544    NaN
40434    NaN
42058    NaN
44207    NaN
45484    NaN
50447    NaN
54366    NaN
66355    NaN

# **Combine all the datasets**

In [313]:
fb

,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
1,euro-hygiene-34.fr,"134 rue entrepreneurs, za du vign, 30420, cal...",NaN,calvisson,fr,france,NaN,NaN,https://euro-hygiene-34.fr,Euro Hygine,LocalBusiness,NaN,NaN,occ,occitanie,30420
2,lakesidehomeservices.ca,NaN,Appliance Repair & Maintenance|Home Builders &...,NaN,ca,NaN,NaN,NaN,https://lakesidehomeservices.ca,Lakeside Home Services,LocalBusiness,+16138318840,ca,NaN,NaN,NaN
3,rossiterboats.com,NaN,Boats & Yachts Dealers|Boat Tours & Cruises,NaN,NaN,NaN,At Rossiter Boats we build semi-custom power b...,info@rossiterboats.com,http://rossiterboats.com,Rossiter Boats,LocalBusiness,NaN,NaN,NaN,NaN,NaN
4,caa-architecture.com,"601 cordova st w # 270, v6b 1g1, vancouver, bc...",Architects & Architectural Services|Other Engi...,vancouver,ca,canada,NaN,office@caa-arcitecture.com,http://caa-architecture.com,Chandler Associates Architecture Inc.,LocalBusiness,+16046873390,ca,bc,british columbia,v6b 1g1
5,apexsurety.ca,"unit 3 - 4 donald street, r3l 2t7, winnipeg, m...",NaN,winnipeg,ca,canada,NaN,NaN,https://apexsurety.ca,Apex Surety & Insurance Ltd.,LocalBusiness,+12045602508,ca,mb,manitoba,r3l 2t7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71163,cadex.com,"22000 fraserwood way, v6w1j6, richmond, bc, ca...",NaN,richmond,ca,canada,Cadex specializes in the design and manufactur...,answers@cadex.com,http://cadex.com,Cadex Electronics,Organization,NaN,NaN,bc,british columbia,NaN
71164,coastlinecatering.ca,"351 prince edward drive north, m8x 2l4, toront...",NaN,NaN,ca,canada,NaN,NaN,https://coastlinecatering.ca,Coastline Catering,LocalBusiness,14162949022.0,ca,NaN,NaN,NaN
71165,hcwd.com,"1400 rogersville rd, 40160, radcliff, ky, kent...",Utility companies|Auto Services|Utility companies,radcliff,us,united states,NaN,NaN,https://hcwd.com,Hardin County Water District No. 1,Organization,12703513222.0,us,ky,kentucky,40160
71166,serenityskincarestudio.com,"15 westmount rd s, unit 301, n2r 1p1, kitchene...",Hair Removal Service|Spa & Wellness Centers,kitchener,ca,canada,NaN,NaN,https://serenityskincarestudio.com,Serenity Skin Care Studio Inc,LocalBusiness,15197472256.0,ca,on,ontario,n2r 1p1
71167,easttorontofootcare.com,"643 queen street east, m4m 1g4, toronto, on, c...",Clinics - Surgeons & Physicians|Clinics - Surg...,toronto,ca,canada,East end chiropody clinic providing services f...,info@easttorontofootcare.com,http://easttorontofootcare.com,East Toronto Foot Care,LocalBusiness,14167924420.0,ca,on,ontario,m4m 1g4

In [314]:
google

,address,category,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,text,zip_code,domain
1,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) Craft store West Gosford NSW, Aust...",2250,spotlightstores.com
2,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,ca,canada,Heritage Christian Book Store,+19059374553,ca,400 Scott St In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) Book store 400 Scott St In Grant...,l2m 3w2,bookmanager.com
3,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,ca,canada,Pleasant Timber Mart,+19027429181,ca,"7+ years in business Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) Building materials store 7+ years i...,b5a 2j9,timbermart.ca
4,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,us,united states,Skin Specifics Medical Spa West LA,+18184268353,us,7+ years in business 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) Medical spa 7+ years in business ...,90025,linktr.ee
5,NaN,Catering & Delivery,NaN,NaN,NaN,Lakay express,NaN,NaN,NaN,NaN,NaN,NaN,5.0 (1) Mobile caterer Open Closes 9PM,NaN,linktr.ee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346921,"12b Marsh Cl, Winterbourne, Bristol BS36 1HY, ...",Gift Shops,bristol,gb,united kingdom,Dina Nur,447506791469.0,gb,"Bristol, United Kingdom",+44 7506 791469,eng,england,"5.0 (1) Candle store Bristol, United Kingdom...",bs36 1hy,etsy.com
346922,NaN,NaN,NaN,NaN,NaN,a Spritz of Suz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,etsy.com
346923,NaN,NaN,NaN,gb,NaN,Heartstrings Candles,447435939484.0,gb,NaN,+44 7435 939484,NaN,NaN,+44 7435 939484 Open 24 hours,NaN,etsy.com
346924,NaN,Plant Nurseries & Stores,NaN,NaN,NaN,Flora by Joyce,NaN,NaN,NaN,NaN,NaN,NaN,No reviews Plant nursery,NaN,etsy.com
346925,"8024 22nd Ave, Kenosha, WI 53143",NaN,kenosha,us,united states,Jazzercise Kenosha Fitness Center,12622378670.0,NaN,"Kenosha, WI In Sunnyside Park",(262) 237-8670,wi,wisconsin,"4.9 (13) Fitness center Kenosha, WI In Sun...",53143,jazzercise.com

In [315]:
website

,root_domain,domain_suffix,language,legal_name,main_city,main_country,main_region,phone,site_name,tld,s_category
1,converterman.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,clothesencounter.ca,ca,en,NaN,cardigan,canada,prince edward island,13066937766,Clothes Encounter,ca,Shoes & Other Footwear Stores
3,investa.com.au,com.au,en,Investa Wholesale Funds Management Limited,brisbane,australia,queensland,61282269300,Investa Property Group,au,Real Estate Developers
4,timminsgarage.com,com,en,Timmins Garage Inc.,timmins,canada,ontario,18775896640,Timmins Garage,com,Automobile Dealers & Manufacturers
5,destinate.ca,ca,en,Destinate Group Ltd.,NaN,Canada,NaN,NaN,Destinate Group,ca,Business Consulting
...,...,...,...,...,...,...,...,...,...,...,...
63542,agistudio.ca,ca,en,NaN,richmond hill,canada,ontario,16479953689,AGI Studio,ca,Wedding Photographers
63543,le279.ca,ca,fr,NaN,saint-jerome,canada,quebec,14505045678,279 Bistro Urbain,ca,Restaurants
63544,absolutedatadestruction.ca,ca,en,Absolute Data Destruction Inc.,miami,united states,florida,14167427411,NAID,ca,Digital & Marketing Agencies
63545,hhms.ca,ca,en,Healthy Home Maid Service Inc.,kingston,canada,ontario,18663874467,Home,ca,Housekeeping Services
63546,studioaeinteriors.com,com,en,Studio AE Interior Design Inc,qualicum beach,canada,british columbia,12503902505,Studio AE Interior Design,com,Decorators & Interior Designers

We can see that the website dataset doee not have "address" column so I will create one (we may need the address column in the other datasets since sometimes when there're no values for "country_name" and "city", we can use this address column)

In [317]:
website['address'] = website['main_city'] + ',' + website['main_region'] + ',' + website['main_country']

<ipython-input-317-3072e3948962>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  website['address'] = website['main_city'] + ',' + website['main_region'] + ',' + website['main_country']

In [318]:
print(fb.columns)
print(google.columns)
print(website.columns)

Index(['domain', 'address', 'categories', 'city', 'country_code',
       'country_name', 'description', 'email', 'link', 'name', 'page_type',
       'phone', 'phone_country_code', 'region_code', 'region_name',
       'zip_code'],
      dtype='object', name=0)
Index(['address', 'category', 'city', 'country_code', 'country_name', 'name',
       'phone', 'phone_country_code', 'raw_address', 'raw_phone',
       'region_code', 'region_name', 'text', 'zip_code', 'domain'],
      dtype='object', name=0)
Index(['root_domain', 'domain_suffix', 'language', 'legal_name', 'main_city',
       'main_country', 'main_region', 'phone', 'site_name', 'tld',
       's_category', 'address'],
      dtype='object', name=0)

Of course to join the datasets they should have the same columns' names

In [319]:
google = google.rename(columns={'category': 'categories', 'text': 'description'})
website = website.rename(columns={'root_domain': 'domain', 'legal_name': 'name', 'main_city': 'city', 'main_country': 'country_name', 'main_region': 'region_name', 's_category': 'categories' })

Now we should choose only the intesected columns

In [320]:
ff = fb[['domain', 'address', 'categories', 'city',
       'country_name', 'name',
       'phone','region_name']]
gg = google[['domain', 'address', 'categories', 'city',
       'country_name', 'name',
       'phone','region_name']]
ww = website[['domain', 'address', 'categories', 'city',
       'country_name', 'name',
       'phone','region_name']]

In [321]:
print(fb.columns)
print(google.columns)
print(website.columns)

Index(['domain', 'address', 'categories', 'city', 'country_code',
       'country_name', 'description', 'email', 'link', 'name', 'page_type',
       'phone', 'phone_country_code', 'region_code', 'region_name',
       'zip_code'],
      dtype='object', name=0)
Index(['address', 'categories', 'city', 'country_code', 'country_name', 'name',
       'phone', 'phone_country_code', 'raw_address', 'raw_phone',
       'region_code', 'region_name', 'description', 'zip_code', 'domain'],
      dtype='object', name=0)
Index(['domain', 'domain_suffix', 'language', 'name', 'city', 'country_name',
       'region_name', 'phone', 'site_name', 'tld', 'categories', 'address'],
      dtype='object', name=0)

I realised that we don't have a consistent format for the phone column. Here I will try to make a consistent one

In [322]:
#check if all of the 'phone' valuse have "+" at the beginning
fb.loc[fb['phone'].str.contains('\+') & google['phone'].notna()]

,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
2,lakesidehomeservices.ca,NaN,Appliance Repair & Maintenance|Home Builders &...,NaN,ca,NaN,NaN,NaN,https://lakesidehomeservices.ca,Lakeside Home Services,LocalBusiness,+16138318840,ca,NaN,NaN,NaN
4,caa-architecture.com,"601 cordova st w # 270, v6b 1g1, vancouver, bc...",Architects & Architectural Services|Other Engi...,vancouver,ca,canada,NaN,office@caa-arcitecture.com,http://caa-architecture.com,Chandler Associates Architecture Inc.,LocalBusiness,+16046873390,ca,bc,british columbia,v6b 1g1
8,alphascientific.ca,"8623 granville street unit 143, v6p 5a2, vanco...",Medical Supply Manufacturers,vancouver,ca,canada,www.alphascientific.ca Alpha Scientific Repair...,sales@alphascientific.ca,http://alphascientific.ca,Alpha Scientific Repair Services Ltd.,LocalBusiness,+16046903380,ca,bc,british columbia,v6p 5a2
10,unitysodfarm.com,"2989 unity road, k0h 1m0, kingston, on, canada...",Agriculture & Farm Associations|Garden Equipme...,NaN,ca,canada,"Kingston's local supplier of quality sod, seed...",info@unitysodfarm.com,http://unitysodfarm.com,Unity Sod Farm Ltd,LocalBusiness,+16133893437,ca,NaN,NaN,NaN
12,houseofthunder.ca,"4746-41 st, t4v 0z6, camrose, ab, canada, alberta",Clothing Stores|Motorcycle Dealers & Rentals,camrose,ca,canada,NaN,NaN,https://houseofthunder.ca,House Of Thunder,LocalBusiness,+17806082000,ca,ab,alberta,t4v 0z6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32749,enpointeandjustdance.ca,NaN,Dance Studios & Schools|Sporting & Recreationa...,NaN,ca,NaN,NaN,NaN,https://enpointeandjustdance.ca,En Pointe & Just Dance,LocalBusiness,+15195897979,ca,NaN,NaN,NaN
32753,nsk.com,"nissei bldg., 1-6-3 ohsaki, 141-8560, shinagaw...",Industrial Machinery & Supplies|Aircraft Parts...,NaN,jp,japan,NaN,NaN,https://nsk.com,NSK Global,Organization,+81337797111,jp,NaN,NaN,NaN
32758,propertyinspection.ca,"684 bronson avenue, k1s 4e9, ottawa, on, canad...",Other Engineering Services|Real Estate Valuati...,ottawa,ca,canada,NaN,NaN,https://propertyinspection.ca,Property Inspection Network,LocalBusiness,+16132343000,ca,on,ontario,k1s 4e9
32761,earcandy.ca,"611 10 ave sw 11 # 11, t2r 0b2, calgary, ab, c...",Radio & Television Production|Recording Studio,calgary,ca,canada,NaN,NaN,https://earcandy.ca,Ear Candy,LocalBusiness,+14032349875,ca,ab,alberta,t2r 0b2
32767,superiorbuildings.ca,"8127 roper rd, t6e 6s4, edmonton, ab, canada, ...",Construction Services|General Contractors|Othe...,edmonton,ca,canada,NaN,NaN,https://superiorbuildings.ca,Superior Buildings and Design Ltd,LocalBusiness,+17804201752,ca,ab,alberta,t6e 6s4

In [323]:
google.loc[google['phone'].fillna('').str.contains('\+') & google['phone'].notna()]

,address,categories,city,country_code,country_name,name,phone,phone_country_code,raw_address,raw_phone,region_code,region_name,description,zip_code,domain
1,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,au,australia,Spotlight West Gosford,+61243355946,au,"West Gosford NSW, Australia",+61 2 4335 5946,nsw,new south wales,"4.1 (766) Craft store West Gosford NSW, Aust...",2250,spotlightstores.com
2,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,ca,canada,Heritage Christian Book Store,+19059374553,ca,400 Scott St In Grantham Plaza,+1 905-937-4553,on,ontario,4.7 (100) Book store 400 Scott St In Grant...,l2m 3w2,bookmanager.com
3,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,ca,canada,Pleasant Timber Mart,+19027429181,ca,"7+ years in business Yarmouth, NS, Canada",+1 902-742-9181,ns,nova scotia,4.7 (40) Building materials store 7+ years i...,b5a 2j9,timbermart.ca
4,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,us,united states,Skin Specifics Medical Spa West LA,+18184268353,us,7+ years in business 11040 Santa Monica Blvd...,+1 818-426-8353,ca,california,4.3 (15) Medical spa 7+ years in business ...,90025,linktr.ee
6,"Ferndale, MI, United States",Pubs & Bars,ferndale,us,united states,B. Nektar Meadery - Taproom & Headquarters,+13137446323,us,"Ferndale, MI, United States",+1 313-744-6323,mi,michigan,"4.8 (296) $$ Bar Ferndale, MI, United Stat...",NaN,linktr.ee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196603,"43-45 Ballards Walk, Basildon SS15 5HL, United...",Oil & Gas - Extraction & Distribution,basildon,gb,united kingdom,SPAR - Ballards Walk Basildon,+441268545470,gb,"Basildon, United Kingdom",+44 1268 545470,eng,england,"3.0 (6) $ Convenience store Basildon, Unit...",ss15 5hl,spar.co.uk
196604,"96-100, Hall Rd, Oulton Broad, Lowestoft NR32 ...",Oil & Gas - Extraction & Distribution,lowestoft,gb,united kingdom,SPAR - Lowestoft,+441502587401,gb,"Lowestoft, United Kingdom",+44 1502 587401,eng,england,"4.6 (5) $ Convenience store Lowestoft, Uni...",nr32 3nn,spar.co.uk
196605,"39-41 Woodnook Rd, Appley Bridge, Wigan WN6 9J...",NaN,wigan,gb,united kingdom,SPAR Appley Bridge,+441257255269,gb,"Wigan, United Kingdom +44 1257 255269",+44 1257 255269,eng,england,"Lottery retailer Wigan, United Kingdom +44 1...",wn6 9jr,spar.co.uk
196606,"500 Donald St E, Thunder Bay, ON P7E 5V3, Canada","Executive, Legislative & Government Institutions",thunder bay,ca,canada,Thunder Bay Aboriginal Liaison,+18076252146,ca,500 Donald St E,+1 807-625-2146,on,ontario,5.0 (1) City government office 500 Donald St...,p7e 5v3,thunderbay.ca
196607,"Toronto, ON, Canada","Blinds, Curtains & Draperies",toronto,ca,canada,Ontario Fashion Textiles,+14166548790,ca,"Toronto, ON, Canada",+1 416-654-8790,on,ontario,"4.8 (13) Curtain Supplier and Maker Toronto,...",NaN,ontariofashion.com

In [324]:
google['phone'].isna().sum()

32136

In [325]:
google.dtypes

0
address               object
categories            object
city                  object
country_code          object
country_name          object
name                  object
phone                 object
phone_country_code    object
raw_address           object
raw_phone             object
region_code           object
region_name           object
description           object
zip_code              object
domain                object
dtype: object

Apparently (as I faced some problems), some of the phone column are not string values (some of them are float) so here I will process all of them

In [327]:
google['phone'] = google['phone'].apply(lambda x: "+" + str(int(x)) if isinstance(x, float) and not pd.isnull(x) else x)

In [328]:
fb['phone'] = fb['phone'].apply(lambda x: "+" + str(int(x)) if isinstance(x, float) and not pd.isnull(x) else x)

<ipython-input-328-b06f1a951c19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fb['phone'] = fb['phone'].apply(lambda x: "+" + str(int(x)) if isinstance(x, float) and not pd.isnull(x) else x)

In [329]:
website['phone'] = website['phone'].apply(lambda x: "+" + str(x) if not pd.isnull(x) else x)

In [330]:
website

,domain,domain_suffix,language,name,city,country_name,region_name,phone,site_name,tld,categories,address
1,converterman.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,clothesencounter.ca,ca,en,NaN,cardigan,canada,prince edward island,+13066937766,Clothes Encounter,ca,Shoes & Other Footwear Stores,"cardigan,prince edward island,canada"
3,investa.com.au,com.au,en,Investa Wholesale Funds Management Limited,brisbane,australia,queensland,+61282269300,Investa Property Group,au,Real Estate Developers,"brisbane,queensland,australia"
4,timminsgarage.com,com,en,Timmins Garage Inc.,timmins,canada,ontario,+18775896640,Timmins Garage,com,Automobile Dealers & Manufacturers,"timmins,ontario,canada"
5,destinate.ca,ca,en,Destinate Group Ltd.,NaN,Canada,NaN,NaN,Destinate Group,ca,Business Consulting,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
63542,agistudio.ca,ca,en,NaN,richmond hill,canada,ontario,+16479953689,AGI Studio,ca,Wedding Photographers,"richmond hill,ontario,canada"
63543,le279.ca,ca,fr,NaN,saint-jerome,canada,quebec,+14505045678,279 Bistro Urbain,ca,Restaurants,"saint-jerome,quebec,canada"
63544,absolutedatadestruction.ca,ca,en,Absolute Data Destruction Inc.,miami,united states,florida,+14167427411,NAID,ca,Digital & Marketing Agencies,"miami,florida,united states"
63545,hhms.ca,ca,en,Healthy Home Maid Service Inc.,kingston,canada,ontario,+18663874467,Home,ca,Housekeeping Services,"kingston,ontario,canada"
63546,studioaeinteriors.com,com,en,Studio AE Interior Design Inc,qualicum beach,canada,british columbia,+12503902505,Studio AE Interior Design,com,Decorators & Interior Designers,"qualicum beach,british columbia,canada"

In [331]:
fb

,domain,address,categories,city,country_code,country_name,description,email,link,name,page_type,phone,phone_country_code,region_code,region_name,zip_code
1,euro-hygiene-34.fr,"134 rue entrepreneurs, za du vign, 30420, cal...",NaN,calvisson,fr,france,NaN,NaN,https://euro-hygiene-34.fr,Euro Hygine,LocalBusiness,NaN,NaN,occ,occitanie,30420
2,lakesidehomeservices.ca,NaN,Appliance Repair & Maintenance|Home Builders &...,NaN,ca,NaN,NaN,NaN,https://lakesidehomeservices.ca,Lakeside Home Services,LocalBusiness,+16138318840,ca,NaN,NaN,NaN
3,rossiterboats.com,NaN,Boats & Yachts Dealers|Boat Tours & Cruises,NaN,NaN,NaN,At Rossiter Boats we build semi-custom power b...,info@rossiterboats.com,http://rossiterboats.com,Rossiter Boats,LocalBusiness,NaN,NaN,NaN,NaN,NaN
4,caa-architecture.com,"601 cordova st w # 270, v6b 1g1, vancouver, bc...",Architects & Architectural Services|Other Engi...,vancouver,ca,canada,NaN,office@caa-arcitecture.com,http://caa-architecture.com,Chandler Associates Architecture Inc.,LocalBusiness,+16046873390,ca,bc,british columbia,v6b 1g1
5,apexsurety.ca,"unit 3 - 4 donald street, r3l 2t7, winnipeg, m...",NaN,winnipeg,ca,canada,NaN,NaN,https://apexsurety.ca,Apex Surety & Insurance Ltd.,LocalBusiness,+12045602508,ca,mb,manitoba,r3l 2t7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71163,cadex.com,"22000 fraserwood way, v6w1j6, richmond, bc, ca...",NaN,richmond,ca,canada,Cadex specializes in the design and manufactur...,answers@cadex.com,http://cadex.com,Cadex Electronics,Organization,NaN,NaN,bc,british columbia,NaN
71164,coastlinecatering.ca,"351 prince edward drive north, m8x 2l4, toront...",NaN,NaN,ca,canada,NaN,NaN,https://coastlinecatering.ca,Coastline Catering,LocalBusiness,+14162949022,ca,NaN,NaN,NaN
71165,hcwd.com,"1400 rogersville rd, 40160, radcliff, ky, kent...",Utility companies|Auto Services|Utility companies,radcliff,us,united states,NaN,NaN,https://hcwd.com,Hardin County Water District No. 1,Organization,+12703513222,us,ky,kentucky,40160
71166,serenityskincarestudio.com,"15 westmount rd s, unit 301, n2r 1p1, kitchene...",Hair Removal Service|Spa & Wellness Centers,kitchener,ca,canada,NaN,NaN,https://serenityskincarestudio.com,Serenity Skin Care Studio Inc,LocalBusiness,+15197472256,ca,on,ontario,n2r 1p1
71167,easttorontofootcare.com,"643 queen street east, m4m 1g4, toronto, on, c...",Clinics - Surgeons & Physicians|Clinics - Surg...,toronto,ca,canada,East end chiropody clinic providing services f...,info@easttorontofootcare.com,http://easttorontofootcare.com,East Toronto Foot Care,LocalBusiness,+14167924420,ca,on,ontario,m4m 1g4

In [332]:
#df1 = google.merge(fb, how = 'outer', on = 'phone')

Since the previous code snippet causes the seesion to be crashed (No enough memory), I will try using concatenate() function. NOTE: I tried on Google Colab and Kaggle

In [333]:
df1 = pd.concat([gg, ff, ww], ignore_index = True, axis = 0)

In [334]:
df1

,domain,address,categories,city,country_name,name,phone,region_name
0,spotlightstores.com,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,australia,Spotlight West Gosford,+61243355946,new south wales
1,bookmanager.com,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,canada,Heritage Christian Book Store,+19059374553,ontario
2,timbermart.ca,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,canada,Pleasant Timber Mart,+19027429181,nova scotia
3,linktr.ee,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,united states,Skin Specifics Medical Spa West LA,+18184268353,california
4,linktr.ee,NaN,Catering & Delivery,NaN,NaN,Lakay express,NaN,NaN
...,...,...,...,...,...,...,...,...
481623,agistudio.ca,"richmond hill,ontario,canada",Wedding Photographers,richmond hill,canada,NaN,16479953689,ontario
481624,le279.ca,"saint-jerome,quebec,canada",Restaurants,saint-jerome,canada,NaN,14505045678,quebec
481625,absolutedatadestruction.ca,"miami,florida,united states",Digital & Marketing Agencies,miami,united states,Absolute Data Destruction Inc.,14167427411,florida
481626,hhms.ca,"kingston,ontario,canada",Housekeeping Services,kingston,canada,Healthy Home Maid Service Inc.,18663874467,ontario
481627,studioaeinteriors.com,"qualicum beach,british columbia,canada",Decorators & Interior Designers,qualicum beach,canada,Studio AE Interior Design Inc,12503902505,british columbia

In [335]:
df1[df1.duplicated(['phone']) & df1['phone'].notna()]

,domain,address,categories,city,country_name,name,phone,region_name
126,pennmedicine.org,"3701 Market St 8th Floor, Philadelphia, PA 19104",Clinics - Surgeons & Physicians,philadelphia,united states,"Kathleen E. O'Neill, MD, MTR",+12153165151,pennsylvania
588,postoffice.co.uk,"Village Hall, Austrey Ln, Newton Regis, Tamwor...",NaN,tamworth,united kingdom,Newton Regis Post Office,+443457223344,england
589,postoffice.co.uk,"165 High St, Dorking RH4 1AD, United Kingdom",Shipping Couriers,dorking,united kingdom,Dorking Post Office,+443457223344,england
600,postoffice.co.uk,"Wellington St, Stockton-on-Tees TS18 1RG, Unit...",Shipping Couriers,stockton-on-tees,united kingdom,Stockton-on-Tees Post Office,+443457223344,england
817,ups.com,"Tenth Ave, Deeside CH5 2UA, United Kingdom",Shipping Couriers,deeside,united kingdom,UPS Deeside,+443457877877,wales
...,...,...,...,...,...,...,...,...
481596,maltepe.edu.tr,"nin,zadarska zupanija,croatia",Colleges & Universities,nin,croatia,NaN,9.02E+11,zadarska zupanija
481597,emilianjewellery.com,"mississauga,ontario,canada",Watches & Jewelry Stores,mississauga,canada,NaN,12345678910,ontario
481599,mediaprofile.com,"toronto,ontario,canada",Public Relations Agencies,toronto,canada,Media Profile Inc.,18002821376,ontario
481611,yildiz.edu.tr,"istanbul,istanbul,turkey",Research Institutes,istanbul,turkey,NaN,9.02E+11,istanbul
481615,pansports.co.uk,"london,england,united kingdom",Sporting Goods Store,london,united kingdom,NaN,4.42E+11,england

In [336]:
gg['phone'].isna().sum()

32136

I will trust Google dataset when encountering data conflicts for the following reasons:
* when I was analysing the 'website' dataset I found it the most messy and noisy one
* google has realively less NaN values for the phone column than facebook
* google was the most clean dataset among the others
* google is the biggest one
* In general, Google's data is more relible than Facebook's data.

For removing duplicates, the reasonable thing to do is to first remove by "name" (as it's the less likely value to change over time) then by "phone". And as I said, I will keep google records for the mentioned reasons

In [337]:
df1.drop_duplicates('name',inplace=True, keep='first') # here keep='first' means if there are duplicates keep google's one then facebook then website

In [338]:
df1

,domain,address,categories,city,country_name,name,phone,region_name
0,spotlightstores.com,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,australia,Spotlight West Gosford,+61243355946,new south wales
1,bookmanager.com,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,canada,Heritage Christian Book Store,+19059374553,ontario
2,timbermart.ca,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,canada,Pleasant Timber Mart,+19027429181,nova scotia
3,linktr.ee,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,united states,Skin Specifics Medical Spa West LA,+18184268353,california
4,linktr.ee,NaN,Catering & Delivery,NaN,NaN,Lakay express,NaN,NaN
...,...,...,...,...,...,...,...,...
481607,killickleadership.com,NaN,Professional & Management Training,NaN,NaN,Killick Leadership Ltd,17806184967,NaN
481608,macmanagement.ca,"arthur,ontario,canada",Property Management,arthur,canada,Mac Inc.,19056804114,ontario
481613,fiberlilly.com,"torbay,newfoundland and labrador,canada",Fabric-Based Home Goods,torbay,canada,FiberLilly Ltd.,17097384499,newfoundland and labrador
481620,lavapote.ca,"chateauguay,quebec,canada",Vaporizer Stores,chateauguay,canada,la Vapote inc.,18333020247,quebec
481625,absolutedatadestruction.ca,"miami,florida,united states",Digital & Marketing Agencies,miami,united states,Absolute Data Destruction Inc.,14167427411,florida

In [339]:
df1[df1.duplicated(['phone']) & df1['phone'].notna()]

,domain,address,categories,city,country_name,name,phone,region_name
126,pennmedicine.org,"3701 Market St 8th Floor, Philadelphia, PA 19104",Clinics - Surgeons & Physicians,philadelphia,united states,"Kathleen E. O'Neill, MD, MTR",+12153165151,pennsylvania
588,postoffice.co.uk,"Village Hall, Austrey Ln, Newton Regis, Tamwor...",NaN,tamworth,united kingdom,Newton Regis Post Office,+443457223344,england
589,postoffice.co.uk,"165 High St, Dorking RH4 1AD, United Kingdom",Shipping Couriers,dorking,united kingdom,Dorking Post Office,+443457223344,england
600,postoffice.co.uk,"Wellington St, Stockton-on-Tees TS18 1RG, Unit...",Shipping Couriers,stockton-on-tees,united kingdom,Stockton-on-Tees Post Office,+443457223344,england
817,ups.com,"Tenth Ave, Deeside CH5 2UA, United Kingdom",Shipping Couriers,deeside,united kingdom,UPS Deeside,+443457877877,wales
...,...,...,...,...,...,...,...,...
481493,grecolab.it,"soleto,apulia,italy",Other Engineering Services,soleto,italy,CDA S.R.L,3.93E+11,apulia
481556,sidel.com,"reichstett,grand est,france",Packaging Solutions,reichstett,france,Sidel Inc.,4.99E+11,grand est
481572,rthealthfund.com.au,"strawberry hills,new south wales,australia",Health Insurance Agency,strawberry hills,australia,Railway & Transport Health Fund LTD,6.11E+11,new south wales
481593,nma.gov.au,"adelaide,south australia,australia",Museums,adelaide,australia,Capital Brewing Co.,6.12E+11,south australia
481599,mediaprofile.com,"toronto,ontario,canada",Public Relations Agencies,toronto,canada,Media Profile Inc.,18002821376,ontario

In [340]:
df1.drop_duplicates('phone',inplace=True, keep='first')

In [341]:
df1

,domain,address,categories,city,country_name,name,phone,region_name
0,spotlightstores.com,"28 Central Coast Hwy, West Gosford NSW 2250, A...",Fabric-Based Home Goods,gosford,australia,Spotlight West Gosford,+61243355946,new south wales
1,bookmanager.com,"400 Scott St, St. Catharines, ON L2M 3W2, Canada",Book Stores,st. catharines,canada,Heritage Christian Book Store,+19059374553,ontario
2,timbermart.ca,"191 Pleasant St, Yarmouth, NS B5A 2J9, Canada",Other Building Material Retailers,yarmouth,canada,Pleasant Timber Mart,+19027429181,nova scotia
3,linktr.ee,"11040 Santa Monica Blvd Suite 370, Los Angeles...",Plastic Surgery Clinics,los angeles,united states,Skin Specifics Medical Spa West LA,+18184268353,california
4,linktr.ee,NaN,Catering & Delivery,NaN,NaN,Lakay express,NaN,NaN
...,...,...,...,...,...,...,...,...
481607,killickleadership.com,NaN,Professional & Management Training,NaN,NaN,Killick Leadership Ltd,17806184967,NaN
481608,macmanagement.ca,"arthur,ontario,canada",Property Management,arthur,canada,Mac Inc.,19056804114,ontario
481613,fiberlilly.com,"torbay,newfoundland and labrador,canada",Fabric-Based Home Goods,torbay,canada,FiberLilly Ltd.,17097384499,newfoundland and labrador
481620,lavapote.ca,"chateauguay,quebec,canada",Vaporizer Stores,chateauguay,canada,la Vapote inc.,18333020247,quebec
481625,absolutedatadestruction.ca,"miami,florida,united states",Digital & Marketing Agencies,miami,united states,Absolute Data Destruction Inc.,14167427411,florida

In [342]:
df1.to_csv("final_dataset")